/* @override http://blog.centripetalnotion.com/tumblr/css/jruck-v2.css */

@font-face {  
  font-family: "ClearveueHwy";  
  src: url(http://blog.centripetalnotion.com/tumblr/fonts/ClearveueHwy.eot); /* IE */  
  src: local("ClearveueHwy"), url(http://blog.centripetalnotion.com/tumblr/fonts/ClearveueHwy.ttf) format("truetype"); /* non-IE */  
}  

@font-face {  
  font-family: "Gotham-Book";  
  src: url(http://blog.centripetalnotion.com/tumblr/fonts/Gotham-Book.eot); /* IE */  
  src: url(http://blog.centripetalnotion.com/tumblr/fonts/Gotham-Book.ttf) format("truetype"); /* non-IE */  
}

@font-face {  
  font-family: "Gotham-Thin";  
  src: url(http://blog.centripetalnotion.com/tumblr/fonts/Gotham-Thin.eot); /* IE */  
  src: url(http://blog.centripetalnotion.com/tumblr/fonts/Gotham-Thin.ttf) format("truetype"); /* non-IE */  

}

@font-face {  
  font-family: "Gotham-Bold";  
  src: url(http://blog.centripetalnotion.com/tumblr/fonts/Gotham-Bold.eot); /* IE */  
  src: url(http://blog.centripetalnotion.com/tumblr/fonts/Gotham-Bold.ttf) format("truetype"); /* non-IE */  

}

@font-face {  
  font-family: "Gotham-Medium";  
  src: url(http://blog.centripetalnotion.com/tumblr/fonts/Gotham-Medium.eot); /* IE */  
  src: url(http://blog.centripetalnotion.com/tumblr/fonts/Gotham-Medium.ttf) format("truetype"); /* non-IE */  
}

@font-face {
	font-family: "Fontello";
	src: url('http://blog.centripetalnotion.com/tumblr/fonts/fontello/font/fontello.eot');
	src: local('☺'), url('http://blog.centripetalnotion.com/tumblr/fonts/fontello/font/fontello.woff') format('woff'), url('http://blog.centripetalnotion.com/tumblr/fonts/fontello/font/fontello.ttf') format('truetype'), url('http://blog.centripetalnotion.com/tumblr/fonts/fontello/font/fontello.svg') format('svg');
	font-weight: normal;
	font-style: normal;	
}

body,div,h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section {
	margin: 0;
	padding: 0;
	border: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,audio,canvas,video {
	display: block;
}

html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	min-height: 100%;
	font-size: 100%;
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-style: normal;
	font-size: .7em;
	line-height: 1.5em;
	background-color: #eff6f4;
	padding: 1.25em !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: 'Source Code Pro', sans-serif;
}

b,strong {
	font-weight: bold;
	color: black;
}

abbr[title] {
	border-bottom: 1px dotted;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img,img {
	-ms-interpolation-mode: bicubic;
	border: 0;
}

.lines li img, .lines p img {
	display: block;
	margin: 0 auto;
}

input,textarea,button,select {
	margin: 0;
	font-size: 100%;
	line-height: normal;
	vertical-align: baseline;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="checkbox"],input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

textarea {
	overflow: auto;
}

img::selection {
	background: transparent;
}

img::-moz-selection {
	background: transparent;
}

body {
	-webkit-tap-highlight-color: rgba(255, 102, 51, 0) !important;
	text-shadow: none;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::selection, ::-moz-selection {
	color: inherit;
	text-shadow: none;
	background-color: rgba(32, 94, 96, 0.15);
}

body {
	font-family: 'Asap',sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #505253;
	font-size: 1em;
	line-height: 1.5;
	margin-bottom: 1.5em;
	margin: 0;
}

#loader {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #e9eae9;
	z-index: 999999;
}

body {
	background-image: url(../images/dark_wall.jpg);
	background-color: #222;
}

body:after {
	content: "";
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: -webkit-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.75));
	background: -moz-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.75));
	background: -ms-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.75));
	background: -o-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.75));
	background: radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.75));
}

.bokeh {
	font-size: 100px;
	width: 1em !important;
	height: 1em !important;
	position: relative;
	margin: 0 auto;
	list-style: none;
}

.bokeh li {
	position: absolute;
	width: .2em;
	height: .2em;
	border-radius: 50%;
	margin-left: -1.15em;
}

.bokeh li:nth-child(1) {
	background: #00C176;
	-webkit-transform-origin: 200% 50%;
	-moz-transform-origin: 200% 50%;
	-ms-transform-origin: 200% 50%;
	-o-transform-origin: 200% 50%;
	transform-origin: 200% 50%;
	-webkit-animation:
		rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
	-moz-animation:
		rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
	-ms-animation:
		rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
	-o-animation:
		rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
	animation:
		rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
}

.bokeh li:nth-child(2) {
	background: #FF003C;
	-webkit-transform-origin: 200% 50%;
	-moz-transform-origin: 200% 50%;
	-ms-transform-origin: 200% 50%;
	-o-transform-origin: 200% 50%;
	transform-origin: 200% 50%;
	-webkit-animation:
		rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
	-moz-animation:
		rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
	-ms-animation:
		rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
	-o-animation:
		rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
	animation:
		rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
}

.bokeh li:nth-child(3) {
	background: #FABE28;
	-webkit-transform-origin: 200% 50%;
	-moz-transform-origin: 200% 50%;
	-ms-transform-origin: 200% 50%;
	-o-transform-origin: 200% 50%;
	transform-origin: 200% 50%;
	-webkit-animation:
		rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
	-moz-animation:
		rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
	-ms-animation:
		rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
	-o-animation:
		rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
	animation:
		rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
}

.bokeh li:nth-child(4) {
	background: #88C100;
	-webkit-transform-origin: 200% 50%;
	-moz-transform-origin: 200% 50%;
	-ms-transform-origin: 200% 50%;
	-o-transform-origin: 200% 50%;
	transform-origin: 200% 50%;
	-webkit-animation:
		rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
	-moz-animation:
		rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
	-ms-animation:
		rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
	-o-animation:
		rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
	animation:
		rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
}

@-webkit-keyframes rota {
	to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rota {
	to {-moz-transform: rotate(360deg);}
}

@-ms-keyframes rota {
	to {-ms-transform: rotate(360deg);}
}

@-o-keyframes rota {
	to {-o-transform: rotate(360deg);}
}

@keyframes rota {
	to {transform: rotate(360deg);}
}

@-webkit-keyframes opa {
	12.0% {opacity: 0.80;}
	19.5% {opacity: 0.88;}
	37.2% {opacity: 0.64;}
	40.5% {opacity: 0.52;}
	52.7% {opacity: 0.69;}
	60.2% {opacity: 0.60;}
	66.6% {opacity: 0.52;}
	70.0% {opacity: 0.63;}
	79.9% {opacity: 0.60;}
	84.2% {opacity: 0.75;}
	91.0% {opacity: 0.87;}
}

@-moz-keyframes opa {
	12.0% {opacity: 0.80;}
	19.5% {opacity: 0.88;}
	37.2% {opacity: 0.64;}
	40.5% {opacity: 0.52;}
	52.7% {opacity: 0.69;}
	60.2% {opacity: 0.60;}
	66.6% {opacity: 0.52;}
	70.0% {opacity: 0.63;}
	79.9% {opacity: 0.60;}
	84.2% {opacity: 0.75;}
	91.0% {opacity: 0.87;}
}

@-ms-keyframes opa {
	12.0% {opacity: 0.80;}
	19.5% {opacity: 0.88;}
	37.2% {opacity: 0.64;}
	40.5% {opacity: 0.52;}
	52.7% {opacity: 0.69;}
	60.2% {opacity: 0.60;}
	66.6% {opacity: 0.52;}
	70.0% {opacity: 0.63;}
	79.9% {opacity: 0.60;}
	84.2% {opacity: 0.75;}
	91.0% {opacity: 0.87;}
}

@-o-keyframes opa {
	12.0% {opacity: 0.80;}
	19.5% {opacity: 0.88;}
	37.2% {opacity: 0.64;}
	40.5% {opacity: 0.52;}
	52.7% {opacity: 0.69;}
	60.2% {opacity: 0.60;}
	66.6% {opacity: 0.52;}
	70.0% {opacity: 0.63;}
	79.9% {opacity: 0.60;}
	84.2% {opacity: 0.75;}
	91.0% {opacity: 0.87;}
}

@keyframes opa {
	12.0% {opacity: 0.80;}
	19.5% {opacity: 0.88;}
	37.2% {opacity: 0.64;}
	40.5% {opacity: 0.52;}
	52.7% {opacity: 0.69;}
	60.2% {opacity: 0.60;}
	66.6% {opacity: 0.52;}
	70.0% {opacity: 0.63;}
	79.9% {opacity: 0.60;}
	84.2% {opacity: 0.75;}
	91.0% {opacity: 0.87;}
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
	font-weight: bold !important;
	text-transform: none !important;
	color: #28292a;
}

h1 {
	font-size: 1.75em !important;
	line-height: 2.1818181818181817;
	margin-bottom: 1.0909090909090908em;
}

h2 {
	font-size: 1.25em;
	line-height: 1em !important;
	margin-bottom: 1em !important;
	margin-top: 2em !important;
}

h3 {
	font-size: 1em;
	line-height: 1.5;
	margin-bottom: 1.5em;
}

h4 {
	font-size: 0.875em;
	line-height: 1.7142857142857142;
	margin-bottom: 1.7142857142857142em;
}

h5 {
	font-size: 0.75em;
	line-height: 1;
	margin-bottom: 2em;
}

h6 {
	font-size: 0.5em;
	line-height: 1.5;
	margin-bottom: 3em;
}

a {
	color: #28292a;
	text-decoration: none !important;
	border-bottom: 1px solid;
	word-wrap: break-word;
	border-color: #1e997e;
}

a:hover, a:active {
	color: #ff6633 !important;
	border-bottom-color: #fec0ac !important;
}

p {
	font-size: 1em;
	line-height: 1.9;
	margin-bottom: 1.25em !important;
	color: #505253;
}

p small {
	font-size: 1em !important;
}

li {
	color: #505253;
}

p strong,p b {
	color: inherit !important;
	font-style: normal !important;
	font-weight: bold !important;
}

ul,ol {
	margin-bottom: 1.5em;
	padding-left: 1.5em;
	color: #28292a;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

blockquote {
	padding-left: 1.5em;
	font-style: italic;
	margin-bottom: 1.5em;
	border-left: 4px solid #d8eae6 !important;
}

#posts.page-permalink blockquote {
	border-left: 6px solid #d8eae6 !important;
}

blockquote p, blockquote p a {
	color: #006750;
}

.post-wrapper {
	width: 100%;
	height: 100%;
	background: #fbfbfb;
	padding-bottom: .25em !important;
}

header {
	width: 100%;
	display: inline-block;
	border-bottom: none !important;
	position: relative;
	height: auto;
	overflow: hidden !important;
	color: white !important;
	background-color: #002828 !important;
}

header .container {
	margin: 0px auto;
	padding: 2.5em 0 !important;
	text-align: center !important;
}

header .logo {
	text-transform: none !important;
	color: #28292a;
	font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
	text-decoration: none;
	display: block !important;
	width: auto !important;
	font-weight: bold;
	line-height: 3.75em;
	text-align: center !important;
	border-bottom: none !important;
}

header .about {
	left: 0;
	width: 100%;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	background-color: #001d1f;
	-moz-box-shadow: inset 0 -.2em 1em rgba(0, 0, 0, .8) !important;
	-webkit-box-shadow: inset 0 -.2em 1em rgba(0, 0, 0, .8) !important;
	box-shadow: inset 0 -.2em 1em rgba(0, 0, 0, .8) !important;
}

header .about p {
	color: #95c0b7;
	line-height: 1.5em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 0 !important;
	text-align: center;
}

header ul.social {
	list-style-type: none;
	padding: 0;
	margin: 0 auto !important;
	margin-bottom: 1em !important;
	margin-top: -.5em !important;
	text-align: center;
}

header ul.social li {
	display: inline;
	font-family: 'Fontello' !important;
	font-size: 1.5em;
	margin: 0 .25em !important;
	line-height: 1.5em !important;
}

header ul.social li span {
	display: none;
}

header ul.social li a#Facebook:after {
	content: 'f';
}

header ul.social li a#Instagram:after {
	content: 'i';
}

header ul.social li a#Twitter:after {
	content: 't';
}

header ul.social li a#Delicious:after {
	content: 's';
	font-size: .85em;
}

header ul.social li a#LinkedIn:after {
	content: 'n';
}

header ul.social li a#Dribbble:after {
	content: 'd';
}

header ul.social li a#GitHub:after {
	content: 'g';
}

header ul.social li a#mail:after {
	content: 'm';
}

header ul.social li a#phone:after {
	content: 'p';
}

header ul.social li a#LastFM:after {
	content: 'a';
}

header ul.social li a {
	border: none;
	color: #2a4040;
}

header .about a {
	color: #95c0b7;
	border-color: #1d584b;
}

header .about a:hover, header .about a:active {
	color: #ffffff !important;
	border-color: #1d584b !important;
}

header .logo span {
	color: white;
}

header .logo img, header .logo:hover span {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

a, a h1, #posts .link .wrapper {
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

header .logo img {
	vertical-align: middle;
	max-height: none !important;
	-moz-box-shadow: 0px 0px 0px 5px #ffffff;
	-webkit-box-shadow: 0px 0px 0px 5px #ffffff;
	box-shadow: 0px 0px 0px 5px #ffffff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	margin: 0 auto;
	background-color: #ffffff;
	margin-right: 1.225em !important;
	margin-top: -0.175em !important;
	width: 75px !important;
	height: 75px !important;
	max-height: none !important;
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
}

header .logo:hover img {
	box-shadow: 0 0 0 5px #ffffff,
		0 4px 5px 5px rgba(0, 0, 0, .3),
		0 0 0 15px rgba(255,255,255, 0.08),
		0 0 0 25px rgba(255,255,255, 0.07),
		0 0 0 35px rgba(255,255,255, 0.06),
		0 0 0 45px rgba(255,255,255, 0.05),
		0 0 0 55px rgba(255,255,255, 0.04);
}

header .logo:active img {
	box-shadow: 0 0 0 5px #ffffff,
		0 4px 5px 5px rgba(0, 0, 0, .3),
		0 0 0 15px rgba(255,255,255, 0.35),
		0 0 0 25px rgba(255,255,255, 0.25),
		0 0 0 35px rgba(255,255,255, 0.15),
		0 0 0 45px rgba(255,255,255, 0.15),
		0 0 0 54px rgba(255,255,255, 0.15);
}

header .logo:hover span {
	text-shadow: 1px 4px 5px rgba(0, 0, 0, 0.3);
}

header .logo:active span {
	text-shadow: 6px 4px 7px rgba(0, 0, 0, 0.4);
}

nav {
	float: right;
	margin-top: 2em;
	line-height: 0.95em;
	display: none !important;
}

nav .pages {
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
}

nav .pages li {
	float: left;
}

nav .pages li a {
	font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
	font-size: 0.75em;
	color: #999999;
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 1.875em;
	display: block;
}

nav .pages li a:hover, nav .pages li a:active {
	color: #0aaa89 !important;
}

nav .filter {
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
}

nav .filter li {
	float: left;
}

nav .filter li a {
	font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
	font-size: 0.75em;
	color: #999999;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
}

nav .filter li a.dropdown-toggle {
	color: #d6d7d8;
	padding: 0.9375em 4.25em 0.9375em 0.9375em;
	border: 1px solid #d6d7d8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	position: relative;
}

nav .filter li a.dropdown-toggle:hover {
	color: #999999;
	border: 1px solid #999999;
}

nav .filter li a.dropdown-toggle:hover:after {
	border-left: 1px solid #999999;
}

nav .filter li a.dropdown-toggle:after {
	content: 'S';
	font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
	font-size: 24px;
	border-left: 1px solid #d6d7d8;
	border-bottom: 1px solid transparent;
	position: absolute;
	right: 0;
	top: 0;
	height: 38px;
	width: 38px;
	text-align: center;
	line-height: 0.6em;
}

nav .filter .dropdown {
	position: relative;
}

nav .filter .dropdown.open .dropdown-toggle {
	color: #999999;
	border: 1px solid #999999;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

nav .filter .dropdown.open .dropdown-toggle:after {
	border-left: 1px solid #999999;
	border-bottom: 2px solid #ffffff;
}

nav .filter .dropdown.open .dropdown-menu {
	display: block;
	position: absolute;
	z-index: 10000;
	top: 40px;
	left: 0;
	width: 100%;
	padding: 0;
}

nav .filter .dropdown.open .dropdown-menu li {
	width: 100%;
	float: left;
}

nav .filter .dropdown.open .dropdown-menu li:last-child a {
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom: 1px solid #999999;
}

nav .filter .dropdown.open .dropdown-menu li a {
	padding: 0.9375em;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	width: 100%;
	display: block;
	overflow: hidden;
	background: #ffffff;
}

nav .filter .dropdown.open .dropdown-menu li a:hover {
	color: #0aaa89 !important;
}

nav .filter .dropdown-menu {
	list-style: none;
	display: none;
}

.pagination {
	float: left;
	opacity: 0;
	margin: 2.5em 1.25em 2.5em 1.25em !important;
	background: #ddd !important;
	margin: 0em 1.25em 2.25em 1.25em !important;
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;
	border: none !important;
	padding: 0 !important;
	list-style: none;
	-moz-box-shadow: 0 0 0 white !important;
	-webkit-box-shadow: 0 0 0 white !important;
	box-shadow: 0 0 0 white !important; 
	height: 45px !important;
}

blockquote {
	font-family: 'Asap', Georgia !important
}

.pagination.prev-page {
	margin-bottom: 0;
}

.pagination .details {
	float: left;
	text-transform: uppercase;
	font-size: 0.6875em;
	font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
	color: #999999;
	line-height: 4em !important;
}

.pagination .details strong {
	font-weight: normal;
	color: #505253;
	font-style: normal;
}

.pagination .details .icon {
	text-transform: none;
	font-size: 16px;
	font-family: 'fontomas';
	margin-left: 13px;
	margin-right: 6px;
	width: 15px;
	float: left;
	line-height: 30px !important;
	height: 45px !important;
	color: #505253;
}

.pagination .stop {
	float: right;
	padding-left: 0.8125em;
	border-left: 1px solid #d6d7d8;
	height: 45px !important;
}

.pagination a {
	float: right;
	height: 43px !important;
	border-left: 1px solid #ccc !important;
	border-bottom: none;
	padding: 0px 0.8125em;
	text-transform: uppercase;
	font-size: 0.6875em;
	font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
	color: #999999;
	text-decoration: none;
	line-height: 4em !important;
}

#next-post a, #prev-post a {
	border-bottom: none;
	font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
	font-weight: bold;
	border-color: #ccc !important;
}

.pagination a strong {
	font-weight: normal;
	color: #505253;
}

.pagination a:hover, .pagination a:active {
	color: #ff6633;
}

.pagination a:hover strong, .pagination a:active strong {
	color: #ff6633;
}

.pagination a.loaded {
	color: #ff6633;
	cursor: hand;
	cursor: pointer;
}

.pagination p.load {
	float: right;
	height: 40px;
	border-left: 1px solid #d6d7d8;
	padding: 0px 0.8125em;
	text-transform: uppercase;
	font-size: 0.6875em;
	font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
	color: #ff6633;
	text-decoration: none;
	line-height: 3.6em;
}

footer {
	margin: 0 0 0 0;
	width: 100%;
	border-top: 1px solid #d6d7d8;
	position: relative;
	height: auto;
	float: left;
	background: #ffffff;
}

.csstransitions footer {
	display: none;
}

footer .container {
	margin: 0px auto;
	clear: both;
	background: #ffffff;
}

footer h4 {
	font-size: 0.6875em;
	line-height: 2.1818181818181817;
	margin-bottom: 2.1818181818181817em;
	margin-bottom: 0;
	color: #999999;
}

footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
	margin: 0 1.25em 0;
	padding: 2.5em 0 2.1875em;
}

footer ul li {
	line-height: 0;
}

footer ul li a {
	font-size: 0.6875em;
	line-height: 2.1818181818181817;
	margin-bottom: 2.1818181818181817em;
	color: #d6d7d8;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
	word-wrap: break-word;
	border-bottom: none;
}

footer #tweets {
	margin-top: -0.125em;
}

footer #tweets p.loading {
	font-size: 0.8125em;
	line-height: 1.8461538461538463;
	margin-bottom: 1.8461538461538463em;
	color: #d6d7d8;
}

footer #tweets li {
	font-family: 'Asap',sans-serif;
	color: #999999;
	font-size: 0.8125em;
	line-height: 1.8461538461538463;
	margin-bottom: 1.8461538461538463em;
}

footer #tweets li:last-child {
	margin-bottom: 0;
}

footer #tweets li a {
	font-family: 'Asap',sans-serif;
	text-transform: none;
	color: #505253;
	text-decoration: underline;
	font-size: 1em;
	line-height: 0;
	word-wrap: break-word;
}

footer #tweets li a:hover {
	color: #ff6633;
}

footer #tweets li .tweet_time {
	margin-left: 0.3125em;
}

footer #tweets li .tweet_time a {
	color: #d6d7d8;
	text-decoration: none;
}

footer #tweets li .tweet_time a:hover {
	color: #999999;
}

footer #recent-twitter {
	float: left;
	margin: 0 1.25em 0;
	padding: 0em 0 2.1875em 0em;
}

footer #recent-twitter ul {
	margin: 0;
	padding: 0;
}

footer #social-links li a span.icon {
	line-height: 0;
	font-size: 17px;
	font-family: 'fontomas';
	width: 1.4375em;
	height: 1.4375em;
	margin-right: 0.9375em;
}

footer #social-links li a.email span.icon {
	font-size: 13px;
	margin-right: 1.375em;
}

footer #tumblr-link,footer #theme-credit {
	float: left;
	padding-bottom: 2.5em;
}

footer #tumblr-link a,footer #theme-credit a {
	font-size: 0.6875em;
	line-height: 2.1818181818181817;
	margin-bottom: 2.1818181818181817em;
	color: #d6d7d8;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
	border-bottom: none;
}

footer #tumblr-link a:hover,footer #theme-credit a:hover {
	color: #999999;
}

footer #tumblr-link {
	margin: 0 0 0 1.25em;
}

footer #theme-credit {
	margin: 0 1.25em 0 0;
}

#posts {
	margin: 0 auto 0;
	height: 100%;
	display: block;
	overflow: hidden;
}

#posts .post {
	float: none !important;
	opacity: 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 3px !important;
	border: 1px solid #ddd !important;
	background: #ffffff;
	overflow: hidden !important;
}

#posts.page-permalink .post {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	-webkit-border-top-left-radius: 2px !important;
	-webkit-border-top-right-radius: 2px !important;
	-moz-border-radius-topleft: 2px !important;
	-moz-border-radius-topright: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border: 1px solid #d6d7d8;
	background: #ffffff;
	-webkit-box-shadow: 0px 0px 1px 0px #e0e0e0;
	box-shadow: 0px 0px 1px 0px #e0e0e0;
	overflow: hidden !important;
	border-bottom: 1px solid #eee !important;
}

#posts .post .wrapper {
	padding: 1.25em 1.25em 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#posts .post .lines {
	margin: 0 1.45em -.25em !important;
	padding-top: 1.2em !important;
	background: #ffffff url('../img/lines.png') top left repeat;
	overflow: hidden;
	padding-bottom: .5em !important;
	font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
}

#posts .post.link .lines {
	padding-top: 0 !important;
}

#posts .link .wrapper {
	display: block;
	height: 100% !important;
	width: 100% !important;
	padding: 1.25em 1.45em !important;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#posts .link .wrapper.highlighted {
	background-color: #fef3f0 !important;
}

#posts.page-permalink .link .wrapper {
	font: normal bold 1.5em/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	padding: 3em 3.25em .1em !important;
}

#posts .link .wrapper a {
	text-decoration: none !important;
	border-bottom: 1px solid;
	display: inline !important;
	word-wrap: break-word;
	border-color: #a5e7d9;
	font: normal bold 1.25em/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	color: #004738;
}

#posts .link .wrapper a:after {
	content: '\00a0\2192' !important;
}

#posts .quote .wrapper blockquote {
	padding: 1em 1.25em 1.25em 1.25em !important;
	margin: 0;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	font-size: 1.25em !important;
	line-height: 1.2;
	margin-bottom: 1.2em;
	font-style: italic;
	border: none !important;
	background-color: #069174 !important;
	color: #cff3ec !important;
	margin: -20px -20px 20px -20px !important;
}

#posts .quote .wrapper blockquote p {
	line-height: 1.2;
	color: #cff3ec !important;
	margin-bottom: .8em !important;
}

#posts.page-permalink .quote .wrapper blockquote {
	font-size: 2em !important;
	padding: 2em 2.5em 2.25em 2.5em !important;
}

#posts .quote .wrapper blockquote p:last-child {
	margin-bottom: 0 !important;
}

.quote div.lines p {
	margin: 1em 0;
}

#posts .quote .wrapper blockquote {
	position: relative;
	background: #ffffff;
	border: 1px solid #d6d7d8;
	margin-bottom: 20px !important;
}

#posts .quote .wrapper blockquote:after,#posts .quote .wrapper blockquote:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#posts .quote .wrapper blockquote:after {
	border-top-color: #069174 !important;
}

#posts.page-permalink .quote .wrapper blockquote:after {
	border-width: 20px !important;
	margin-left: 20px !important;
	background: white !important;
}

#posts .quote .wrapper blockquote:before {
	border: none !important;
}

#posts .quote .lines {
	padding: 0 0 .5em !important;
	background: none;
}

#posts .quote .lines p:last-child {
	margin-bottom: 0px;
}

#posts .chat .wrapper li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#posts .chat .wrapper .odd,#posts .chat .wrapper .even {
	padding: 1.25em;
	margin: 0;
	margin-bottom: 1.25em;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	font-size: 1.25em;
	line-height: 1.2;
	margin-bottom: 1.2em;
	font-style: italic;
	color: #28292a;
	font-weight: normal;
}

#posts .chat .wrapper .odd p:last-child,#posts .chat .wrapper .even p:last-child {
	margin-bottom: 0;
}

#posts .chat .wrapper .odd b,#posts .chat .wrapper .even b {
	color: #999999;
	font-style: normal;
	font-weight: normal;
}

#posts .chat .wrapper .odd {
	position: relative;
	background: #ffffff;
	border: 1px solid #d6d7d8;
	margin-left: 0.625em;
}

#posts .chat .wrapper .odd:after,#posts .chat .wrapper .odd:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#posts .chat .wrapper .odd:after {
	border-right-color: #ffffff;
	border-width: 10px;
	top: 1.5625em;
	margin-top: -10px;
}

#posts .chat .wrapper .odd:before {
	border-right-color: #d6d7d8;
	border-width: 11px;
	top: 1.5625em;
	margin-top: -11px;
}

#posts .chat .wrapper .even {
	position: relative;
	background: #ffffff;
	border: 1px solid #d6d7d8;
	margin-right: 0.625em;
	color: #505253;
}

#posts .chat .wrapper .even:after,#posts .chat .wrapper .even:before {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#posts .chat .wrapper .even:after {
	border-left-color: #ffffff;
	border-width: 10px;
	top: 1.5625em;
	margin-top: -10px;
}

#posts .chat .wrapper .even:before {
	border-left-color: #d6d7d8;
	border-width: 11px;
	top: 1.5625em;
	margin-top: -11px;
}

#posts .chat .lines {
	margin-bottom: 1.25em;
	background: none;
}

#posts .chat .lines p:last-child {
	margin-bottom: 0px;
}

#posts .photo .view {
	width: 100%;
	display: block;
}

#posts .photo .view img {
	max-width: 100%;
	width: 100%;
	float: left;
	-webkit-border-top-left-radius: 1px;
	-webkit-border-top-right-radius: 1px;
	-moz-border-radius-topleft: 1px;
	-moz-border-radius-topright: 1px;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
}

/*#posts .photo:hover, #posts .photo:active, #posts .photoset:hover, #posts .photoset:active {
	opacity: .8 !important;
}

#posts.page-permalink .photo:hover, #posts.page-permalink .photo:active, #posts.page-permalink .photoset:hover, #posts.page-permalink .photoset:active {
	opacity: 1 !important;
}*/

#posts .photoset .view img {
	float: left;
	margin-bottom: 0 !important;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#posts .photoset .photoset-grid {
	margin-bottom: 6px !important;
	list-style: none;
	display: inline-block;
	clear: both;
	line-height: 0px;
	opacity: 0;
	background: #000000;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#posts .photoset .photoset-grid li {
	float: left;
	margin: 0;
	padding: 0;
	line-height: 0px;
	list-style: none;
	overflow: hidden;
	margin-bottom: -1px;
}

#posts .audio .wrapper {
	padding-bottom: 1.3125em;
}

#posts .audio .wrapper img {
	width: 7.5em;
	height: 7.5em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	float: left;
}

#posts .audio .player {
	width: 15.25em;
	height: 7.5em;
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: 0.75em;
	float: right;
	position: relative;
	overflow: visible;
}

#posts .audio .player li {
	clear: both;
	max-height: 3em;
	overflow: hidden;
	width: 100%;
	color: #28292a;
	text-overflow: ellipsis-word;
}

#posts .audio .player li span {
	color: #505253;
	font-style: italic;
}

#posts .audio .player li.audio {
	position: absolute;
	bottom: -0.4375em;
	left: 0.3125em;
}

#posts.page-permalink .post {
	opacity: 1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#posts.page-permalink .post.text {
	padding-bottom: 0.0625em;
}

#posts.page-permalink .post.photo .view img {
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

#posts.page-permalink .post.photo .lines {
	margin-top: 1.25em;
	display: inline-block;
	padding: 2.25em 3.25em 1.5em 3.25em !important;
}

#posts.page-permalink .post.photoset .view img {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#posts.page-permalink .post.photoset .lines {
	padding-bottom: 2em !important;
	padding-top: 3em !important;
	display: inline-block;
}

#posts.page-permalink .post.video .lines {
	margin-top: 1.25em;
	padding-bottom: 0.0625em;
}

article {
	-moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
	border: 1px solid #d6d7d8 !important;
}

#post-details {
	float: none !important;
	margin: 0 !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	padding: 0em !important;
	background: #ffffff;
	border-top: none;
}

#post-details .meta_data {
	height: 44px;
	background: transparent !important;
	margin-bottom: 0;
	padding: 0 80px;
	font: 1em 'helvetica neue', helvetica, arial, sans-serif;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	-webkit-border-bottom-right-radius: 3px !important;
	-webkit-border-bottom-left-radius: 3px !important;
	-moz-border-radius-bottomright: 3px !important;
	-moz-border-radius-bottomleft: 3px !important;
	border-bottom-right-radius: 3px !important;
	border-bottom-left-radius: 3px !important;
	border: none;
	border-top: 1px solid #ddd;	
}

#post-details .meta_data li {
	display: inline;
	line-height: 40px;
	margin-bottom: -2px;
}

#post-details .like_toggle {
	width: 20px !important;
	max-width: 20px !important;
	min-width: 20px !important;
	display: inline-block !important;
	position: relative !important;
}

#post-details .meta_data li.left {
	float: left;	
}

#post-details .meta_data li.right {
	float: right;
	margin-left: 20px;
	font-weight: bold;
}

#post-details .meta_data li.reblogButton a {
	margin-top: 11px;	
}

#post-details .meta_data li.likeButton div {
	margin-top: 6px;
	margin-bottom: -3px;
}

#post-details .meta_data li a {
	color: #bbb;
	text-decoration: none !important;
	border-bottom: none !important;
}

#post-details .meta_data li a:hover, .meta_data li a:active {
	color: #bbb !important;
}


#post-details h4 {
	font-size: 0.75em;
	line-height: 2;
	margin-bottom: 2em;
	margin-bottom: 0;
	color: #999999;
}

#post-details h4#share-title {
	margin-top: 1.25em;
}

#post-details ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

ul.tags {
	width: 100%;
	margin: 0 0 0 0;
	font-size: 14px;
	padding: 0;
}

ul.tags li {
	color: #bbb;
	display: inline;
	margin: 0 1em 0 0;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

ul.tags li a {
	color: #bbb;
	text-decoration: none;
	font-size: 14px;
	line-height: 1.7142857142857142;
	margin-bottom: 1.7142857142857142em;
	border-bottom: none;
}

#post-details ul.details li a {
	display: inline-block;
	margin-bottom: 0;
}

span.action a {
	border-bottom: none;
}

#post-details ul li a.short-url .icon,#post-details ul li .date.short-url .icon {
	font-size: 14px;
	margin-right: 1.125em;
	margin-left: 0.1875em;
}

#post-details ul li a.source-url .icon,#post-details ul li .date.source-url .icon {
	margin-right: 1.125em;
	font-size: 14px;
}

#post-details ul li a.tag .icon,#post-details ul li .date.tag .icon {
	font-size: 14px;
	margin-right: 1.0625em;
	margin-left: 0.125em;
}

#post-details ul li a.notes .icon,#post-details ul li .date.notes .icon {
	font-size: 14px;
	margin-right: 1.3125em;
	margin-left: 0.125em;
}

#post-details ul li a.date .icon,#post-details ul li .date.date .icon {
	font-size: 14px;
	margin-right: 1.1875em;
	margin-left: 0em;
}

#post-details ul li a.disqus .icon,#post-details ul li .date.disqus .icon {
	font-size: 17px;
	margin-right: 0.8125em;
	margin-left: 0em;
}

#post-details ul li a.dsq-comment-count,#post-details ul li .date.dsq-comment-count {
	display: none;
}

#post-details ul li a:hover,#post-details ul li .date:hover {
	color: #bbb !important;
}

ol.notes {
	float: left;
	margin: -40px 1.25em 5em 1.25em !important;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: none !important;
	background: transparent !important;
	padding: 0 !important;
	list-style: none;
	-moz-box-shadow: 0 0 0 white !important;
	-webkit-box-shadow: 0 0 0 white !important;
	box-shadow: 0 0 0 white !important; 
}

ol.notes li {
	width: 50%;
	float: left;
	font-size: 0.75em;
	line-height: 1;
	margin-bottom: 2em;
	margin-bottom: 1em;
}

ol.notes li img {
	vertical-align: middle;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

ol.notes li .action {
	margin-left: 5px;
}

ol.notes li, ol.notes li a {
	color: #666;
}

ol.notes li.more_notes_link_container {
	width: 100% !important;
	height: 41px;
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;
	background: #ddd;
	border: none !important;
	font-size: 0.75em;
	line-height: 17px !important;
	margin-bottom: 2em;
	padding: 1em 0;
	margin-top: 2.5em !important;
}

ol.notes li.more_notes_link_container a {
	color: #999999;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
	font-weight: bold !important;
	border-bottom: none;
}

#posts ol.notes blockquote a {
	line-height: 1.4;
	border-bottom: none;
	color: #0b775f;
}

#posts ol.notes blockquote {
	padding-left: 48px;
	margin-bottom: 4px;
	padding-top: 8px;
	border: none !important;
	font-size: 1.5em;
	width: 90%;
}

ol.notes li.more_notes_link_container a:hover {
	color: #ff6633;
}

#disqus_thread {
	float: left;
	margin: 2.5em 1.25em 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #d6d7d8;
	background: #ffffff;
	padding: 1.375em 1.25em 0em 1.25em;
	-webkit-box-shadow: 0px 0px 1px 0px #e0e0e0;
	box-shadow: 0px 0px 1px 0px #e0e0e0;
}

#disqus_thread #dsq-content #dsq-global-toolbar {
	margin-top: 0;
}

#disqus_thread #dsq-content #dsq-global-toolbar * {
	-moz-box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
	box-sizing: content-box !important;
	border-bottom: 0;
}

#disqus_thread h3 {
	font-size: 0.75em;
	line-height: 2;
	margin-bottom: 2em;
	color: #999999;
}

#disqus_thread .dsq-comment-footer {
	font-size: 0.6875em;
	line-height: 2.1818181818181817;
	margin-bottom: 2.1818181818181817em;
	text-transform: uppercase;
	color: #999999;
	font-family: 'Asap',sans-serif;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
}

#disqus_thread .dsq-comment-meta a,#disqus_thread .dsq-comment-actions a {
	opacity: 1;
	text-decoration: none;
}

#disqus_thread .dsq-comment-meta a:hover,#disqus_thread .dsq-comment-actions a:hover {
	color: #ff6633;
	text-decoration: none;
}

#disqus_thread .dsq-comment-header {
	background: none;
	border: 0;
	border-radius: 0px;
	font-size: 13px;
	line-height: 14px;
	margin: 0 0 1em;
	max-height: 36px;
	overflow: hidden;
	padding: 10px 0px;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #505253;
}

#disqus_thread #dsq-content .dsq-comment {
	margin-bottom: 20px !important;
}

#disqus_thread #dsq-content #dsq-global-toolbar {
	margin-bottom: 0 !important;
}

#disqus_thread .dsq-reply {
	margin-top: 19px;
}

#disqus_thread #dsq-content .dsq-toolbar-item {
	background: #999999;
}

#disqus_thread .dsq-textarea-background {
	background: #FFFFFF !important;
	border: 1px solid #d6d7d8;
	border-radius: 1px 1px 1px 1px;
	box-shadow: 0 0px 0px transparent inset;
	position: relative;
	width: auto;
}

#disqus_thread #dsq-content .dsq-show-tools .dsq-post-tools {
	height: 33px;
	background: none;
	border-top: 1px solid #d6d7d8;
}

#disqus_thread #dsq-content .dsq-attach-media .dsq-attach-media-border iframe {
	border-right: 0;
}

#disqus_thread .dsq-post-tools .dsq-post-as .dsq-button {
	background: #ffffff;
	border: 1px solid #d6d7d8;
	border-radius: 0 0 1px 0;
	box-shadow: 0 0 0 transparent;
	color: #999999;
	font-size: 12px;
	font-weight: 600;
	height: 34px;
	line-height: 14px;
	margin: 0;
	padding: 8px 20px;
	position: absolute;
	right: -1px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
	top: -1px;
	z-index: 2;
	text-transform: uppercase !important;
	font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
	font-weight: normal !important;
}

#disqus_thread .dsq-post-tools .dsq-post-as .dsq-button:hover {
	color: #ff6633;
}

#disqus_thread .dsq-comment-footer {
	margin-bottom: 0;
}

#disqus_thread #dsq-sort-by select {
	margin: 0;
	color: #999999;
	font-size: 9px;
	padding: 2px;
	border: 1px solid #d6d7d8;
	border-radius: 1px 1px 1px 1px;
	text-transform: uppercase;
}

#disqus_thread #dsq-toolbar-dropdown #dsq-toolbar-dropdown-wrap ul {
	background: #999999 !important;
	border-radius: 2px 2px 2px 2px;
	color: #FFFFFF;
	margin: 3px 0 0;
	padding: 6px 4px;
	width: 110px;
}

#disqus_thread #dsq-account-dropdown,#disqus_thread #dsq-footer {
	display: none;
}

#disqus_thread .dsq-reply h3 {
	display: none;
}

#disqus_thread .dsq-textarea-reply {
	margin-bottom: 20px;
}

#disqus_thread .dsq-more-button {
	background: #ffffff !important;
	border: 1px solid #d6d7d8 !important;
	border-radius: 1px 1px 1px 1px !important;
	box-shadow: 0 0px 0 transparent !important;
	color: #999999 !important;
	display: block !important;
	font-size: 12px !important;
	font-weight: 600 !important;
	line-height: 14px !important;
	margin: 0 0 20px !important;
	padding: 10px 20px !important;
	text-align: center !important;
	text-decoration: none !important;
	text-shadow: 0 0px 0 transparent !important;
	text-transform: uppercase !important;
	font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
	font-weight: normal !important;
}

#disqus_thread .dsq-more-button:hover {
	color: #ff6633;
}

#disqus_thread #dsq-content-stub {
	margin-bottom: 20px;
}

.dsq-popup .dsq-popup-content * {
	-moz-box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
	box-sizing: content-box !important;
	border-bottom: 0;
}

#at20mc *,.addthis_toolbox * {
	-moz-box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
	box-sizing: content-box !important;
	border-bottom: 0;
}

.addthis_toolbox {
	min-height: 1em;
	width: 160px;
	margin: 0 auto !important;
	margin-top: 1.325em !important;
}

.addthis_toolbox a {
	margin-right: 0.3125em;
	margin-top: 0 !important;
}

.meta_data {
	width: 100%;
	list-style: none;
	height: 44px;
	background: #ffffff;
	border-top: 1px solid #eee;
	margin-bottom: 0;
	padding: 0 20px;
	font: 14px 'helvetica neue', helvetica, arial, sans-serif;
}

.meta_data li {
	display: inline;
	line-height: 40px;
	margin-bottom: -2px;
}

.like_toggle {
	width: 20px !important;
	max-width: 20px !important;
	min-width: 20px !important;
	display: inline-block !important;
	position: relative !important;
}

.meta_data li.left {
	float: left;	
}

.meta_data li.right {
	float: right;
	margin-left: 20px;
	font-weight: bold;
}

.meta_data li.reblogButton a {
	margin-top: 5px;	
}

.meta_data li.likeButton div {
	margin-top: 5px;
	margin-bottom: -3px;
}

.meta_data li a {
	color: #ccc;
	text-decoration: none !important;
	border-bottom: none !important;
}

.meta_data li a:hover, .meta_data li a:active {
	color: #ccc !important;
}

.footer li a.dsq-comment-count {
	display: none;
}

.footer li a:hover .icon {
	display: none;
}

.footer li a:hover .details {
	display: block;
}

.footer li a.disqus span.icon {
	top: 11px !important;
	left: 12px !important;
	font-size: 17px;
}

.footer li a.disqus span.details {
	top: 22px !important;
	left: 2px !important;
	font-size: 11px;
	font-weight: bold !important;
}

ul.post-nav {
	margin-bottom: 80px !important;
	margin-top: 80px !important;
	border: none !important;
	-moz-box-shadow: 0 0 0 white !important;
	-webkit-box-shadow: 0 0 0 white !important;
	box-shadow: 0 0 0 white !important;
	background-color: #ddd !important;
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;
}

.page-index p iframe {
	width: 100%;
}

.page-index p.answer_form_container iframe {
	height: auto;
	margin-bottom: -4em;
}

div.lines blockquote h1.title {
	line-height: 1.25em !important;
	font-size: 1em !important;
	font-family: 'Asap', Georgia !important;	
	font-style: normal;
	color: #006750 !important;	
}

@media screen and (min-width:0em) {

body {
	overflow-x: hidden !important;
}

.bokeh {
	margin-top: 28% !important;
}

header .logo {
	margin: 1.75em 0 0 0 !important;
	border-bottom: none !important;
}

header .logo img {
	margin-right: 0 !important;
	margin-bottom: .4em !important;
}

header .about {
	padding: 1.4em 0 1.5em;
}

header .about p {
	font-size: .85em;
	margin: 0 auto;
	max-width: 200px;
}

header .about p span {
	display: none;
}

header ul.social {
	max-width: 12em;
	margin-top: .05em !important;
	margin-bottom: .5em !important;
}

header ul.social li {
	display: inline;
	font-family: 'Fontello';
	margin: 0 .03em;
	line-height: .5em;
}

header .logo span {
	width: 100%;
	text-align: center;
	clear: both;
	display: inline-block;
	font-size: 1.8em !important;
}

.isotope-item {
	margin-top: 2.25em !important;
}

nav .pages {
	display: none;
}

nav {
	float: left;
	margin-top: 0.625em;
}

nav .filter {
	margin: 0;
}

nav .filter .dropdown {
	width: 16.25em;
	margin-bottom: 2.5em;
}

.container,.pagination {
	width: 16.3125em;
}

#posts {
	width: 18.8125em;
}

#posts .post {
	width: 16.25em;
	margin-top: 1.75em !important;
}

#posts .post .lines {
	width: 13.625em;
}

#posts .post.large {
	width: 16.25em;
}

#posts .post.audio .wrapper img {
	width: 13.75em;
	height: 13.75em;
}

.page-index p iframe {
	width: 13.2em;
	height: 7.9em;
}

#posts .post.audio .player {
	margin-top: 1.25em;
	width: 13.75em;
	height: 7.5em;
}

#posts .post.photoset .photoset-grid li.\31 {
	width: 16.25em;
}

#posts .post.photoset .photoset-grid li.\32 {
	width: 8.125em;
}

#posts .post.photoset .photoset-grid li.\33 {
	width: 5.4166125em;
}

#posts .post.photoset .photoset-grid li.\33.last {
	margin-left: -2px;
}

#posts.page-permalink #post-details {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

ol.notes li {
	width: 100%;
}

footer .container {
	width: 18.8125em;
}

footer .container #recent-twitter {
	width: 16.25em;
}

footer .container .site-tags {
	width: 6.875em;
}

footer .container #tumblr-link,footer .container #theme-credit,footer .container #social-links {
	width: 16.25em;
	margin: 0 1.25em;
	text-align: left;
}

footer .container #tumblr-link,footer .container #site-links,footer .container #social-links {
	display: none;
}

#posts .quote .wrapper blockquote {
	font-size: 1em !important;
	line-height: 1.4 !important;
}


}

@media screen and (min-width:0em) and (-webkit-min-device-pixel-ratio:0) {

.bokeh {
	margin-top: 28% !important;
}

#posts.page-permalink .photoset .photoset-grid li.\33 .last,#posts .post.large.photoset .photoset-grid li.\33 .last,#posts .post.photoset .photoset-grid li.\33 .last {
	margin-left: 0px;
}

#posts.page-permalink .link .wrapper {
	padding: 1.7em 1.7em .25em 1.7em !important;
	font-size: .8em !important;
}

.page-permalink p iframe {
	margin: 0 auto !important;
	margin-top: 1.5em !important;
	display: block;
	max-width: 15.2625em !important;
	max-height: 9.0625em !important;
}

#posts.page-permalink .post .lines {
	width: 18.0625em !important;
	padding: 1.5em 1.5em 1em 1.5em !important;
	margin: 0 !important;
	font-size: .9em;
}

#posts.page-permalink .post .lines p {
	margin-bottom: 1em;
}

#posts.page-permalink .post.photo .lines {
	padding: 1.5em 1.5em .7em 1.5em !important;
}

#posts.page-permalink .post.photo.photoset .lines {
	padding: 2em 1.5em .9em 1.5em !important;
}

#posts.page-permalink .post {
	width: 16.3625em !important;
	margin-top: 1.75em !important;
}

section#posts.page-permalink {
	width: 18.8625em;
}

#posts.page-permalink ol.notes {
	display: none;
}

iframe.spotify_audio_player {
	height: 21.25em !important;
	width: 22em !important;
}

.page-permalink iframe.spotify_audio_player {
	height: 21.25em !important;
	width: 22em !important;
}

.meta_data li.right {
	display: none !important;
}

}

@media screen and (min-width:27.5em) {

.bokeh {
	margin-top: 28% !important;
}

header .logo {
	border-bottom: none !important;
}

nav .filter .dropdown {
	width: 22.5em;
}

.container,.pagination {
	width: 22.5625em;
}

#posts {
	width: 25.0625em;
}

#posts .post {
	width: 22.5em;
	margin-top: 1.75em !important;
}

#posts .post .lines {
	width: 19.875em;
}

#posts .post.large {
	width: 22.5em;
}

.page-index p iframe {
	width: 19.5em;
	height: 11.5em;
}

#posts .post.audio .wrapper img {
	width: 20em;
	height: 20em;
}

#posts .post.audio .player {
	margin-top: 1.25em;
	width: 20em;
	height: 7.5em;
}

#posts .post.photoset .photoset-grid li.\31 {
	width: 22.5em;
}

#posts .post.photoset .photoset-grid li.\32 {
	width: 11.25em;
}

#posts .post.photoset .photoset-grid li.\33 {
	width: 7.499925em;
}

#posts .post.photoset .photoset-grid li.\33.last {
	margin-left: -2px;
}

#posts.page-permalink .post,#posts.page-permalink #disqus_thread,#posts.page-permalink ol.notes {
	width: 22.5em;
}

footer .container {
	width: 25.0625em;
}

footer .container #recent-twitter {
	width: 22.5em;
}

footer .container .site-tags {
	width: 10em;
}

footer .container #tumblr-link,footer .container #theme-credit,footer .container #social-links {
	width: 22.5em;
}

#posts.page-permalink .link .wrapper {
	padding: 2.25em 2.4em .1em !important;
	font-size: 1.25em !important;
}

.page-permalink p iframe {
	margin: 0 auto !important;
	margin-top: 2em !important;
	display: block;
	max-width: 27.4625em !important;
	max-height: 16em !important;
}

#posts.page-permalink .post .lines {
	width: 22.5625em !important;
	margin: 0 !important;
}

#posts.page-permalink .post.photo .lines {
	padding: 1.5em 1.5em .7em 1.5em !important;
}

#posts.page-permalink .post.photo.photoset .lines {
	padding: 2em 1.5em .9em 1.5em !important;
}

#posts.page-permalink .post {
	width: 22.5625em !important;
}

section#posts.page-permalink {
	width: 25.0625em;
}

#posts.page-permalink .quote .wrapper blockquote {
	font-size: 1.5em !important;
	padding: 2em 2.5em 2.25em 2em !important;
}

iframe.spotify_audio_player {
	height: 31.25em !important;
	width: 32em !important;
}

.page-permalink iframe.spotify_audio_player {
height: 27.5em !important;
width: 28em !important;
}

}

@media screen and (min-width:27.5em) and (-webkit-min-device-pixel-ratio:0) {

.bokeh {
	margin-top: 28% !important;
}

#posts.page-permalink .photoset .photoset-grid li.\33 .last,#posts .post.large.photoset .photoset-grid li.\33 .last,#posts .post.photoset .photoset-grid li.\33 .last {
	margin-left: -2px;
}

}

@media screen and (min-width:28.75em) {

header .container {
	padding: 2.5em 0 !important;
	height: auto !important;
}

header .about {
	padding: 1.4em 0 1.5em;
}

header .about p {
	font-size: .85em;
	margin: 0 auto;
	max-width: 300px;
}

.bokeh {
	margin-top: 18% !important;
}

header .logo {
	margin-bottom: 0 !important;
	border-bottom: none !important;
}

nav .filter .dropdown {
	width: 26.25em;
}

.container,.pagination {
	width: 26.3125em;
}

#posts {
	width: 28.8125em;
}

#posts.page-permalink #post-details {
	width: 27.5625em !important;
	float: none !important;
	margin-right: 0 !important;
}

ul.post-nav {
	margin-right: 0 !important;
	width: 27.5625em !important;
}

#posts .post {
	width: 26.25em;
	margin-top: 1.75em !important;
}

#posts .post .lines {
	width: 23.625em;
}

#posts .post.large {
	width: 26.25em;
}

.page-index p iframe {
	width: 23.2em;
	height: 13.5em;
}

#posts .post.audio .wrapper img {
	width: 7.874999999999999em;
	height: 7.874999999999999em;
}

#posts .post.audio .player {
	width: 15.4375em;
	height: 8.3125em;
	margin-top: 0;
}

#posts .post.photoset .photoset-grid li.\31 {
	width: 26.25em;
}

#posts .post.photoset .photoset-grid li.\32 {
	width: 13.125em;
}

#posts .post.photoset .photoset-grid li.\33 {
	width: 8.7499125em;
}

#posts .post.photoset .photoset-grid li.\33.last {
	margin-left: -2px;
}

#posts.page-permalink .post,#posts.page-permalink #disqus_thread,#posts.page-permalink ol.notes {
	width: 56.8625em !important;
}

footer .container {
	width: 28.8125em;
}

footer .container #recent-twitter {
	width: 26.25em;
}

footer .container .site-tags {
	width: 11.875em;
}

footer .container #tumblr-link,footer .container #theme-credit,footer .container #social-links {
	width: 26.25em;
}

#posts.page-permalink .link .wrapper {
	padding: 2.25em 2.4em .1em !important;
	font-size: 1.25em !important;
}

.page-permalink p iframe {
	margin: 0 auto !important;
	margin-top: 3em !important;
	display: block;
	max-width: 27.4625em;
	max-height: 16em;
}

#posts.page-permalink .post .lines {
	width: 30.4625em !important;
	padding: 2.5em 3.25em !important;
	margin: 0 !important;
}

#posts.page-permalink .post {
	width: 27.5625em !important;
}

section#posts.page-permalink {
	width: 30.0625em;
}

#posts.page-permalink ol.notes {
	display: none;
}

.page-permalink iframe.spotify_audio_player {
	height: 33em !important;
	width: 32em !important;
}

}

.addthis_toolbox {
	display: none;
}

#posts.page-permalink .quote .wrapper blockquote {
	font-size: 1em !important;
	padding: 1.25em 1.25em 1.55em 1.25em !important;
}

#posts.page-permalink .quote .wrapper blockquote:after {
	border-width: 10px !important;
	margin-left: -10px !important;
	background: white !important;
}

#posts.page-permalink .post.quote .lines {
	padding: 0em 2em 1em !important;
}

#posts.page-permalink .text .wrapper h1 {
	font-size: 1.25em !important;
	padding: .5em 1em 1em 1em;
	line-height: 1.2em !important;
	margin-bottom: 0 !important;
}

#posts.page-permalink .post.text .lines {
	padding: 1em 3.25em 2.25em 3.25em !important;
}

#post-details .meta_data {
	padding: 0 1.75em;
}


}

@media screen and (min-width:28.75em) and (-webkit-min-device-pixel-ratio:0) {
	.bokeh {
	margin-top: 18% !important;
}

#posts.page-permalink .photoset .photoset-grid li.\33 .last,#posts .post.large.photoset .photoset-grid li.\33 .last,#posts .post.photoset .photoset-grid li.\33 .last {
	margin-left: -2px;
}

}

@media screen and (min-width:52.5em) {
	.bokeh {
	margin-top: 18% !important;
}

header .container {
	padding: 4.375em 0 !important;
	height: auto !important;
}

header .about {
	padding: 2.5em 0 2.4em;
}

header .about p {
	font-size: .85em;
	margin: 0 auto;
	max-width: 520px;
}

header .logo img {
	margin-right: 1.5em !important;
	margin-top: -.5em !important;
}

header .about p span {
	display: inline !important;
}

header ul.social {
	max-width: 100%;
	margin-top: -.75em !important;
	margin-bottom: .4em !important;
}

header ul.social li {
	margin: 0 .08em;
	line-height: .75em;
}

header .logo {
	margin: 5em 0 4.5em !important;
	border-bottom: none !important;
}

header .logo span {
	width: auto;
	text-align: left;
	clear: none;
	display: inline-block;
	font-size: 2.25em !important;
}

nav .pages {
	display: inline-block;
	padding: 0;
	margin-top: 0.75em;
	list-style: none;
	float: left;
}

nav {
	float: right;
	margin-top: 0.6875em;
}

nav .filter {
	margin-left: 1.875em;
}

nav .filter .dropdown {
	width: 14.166525em;
}

nav .filter .dropdown.open .dropdown-menu li.pages-in-nav {
	display: none;
}

.container,.pagination {
	width: 47.5625em;
}

#posts {
	width: 50.0625em;
}

#posts.page-permalink #post-details {
	width: 48.8625em !important;
	float: none !important;
	margin-right: 0 !important;
}

ul.post-nav {
	margin-right: 0 !important;
	width: 48.8625em !important;
}

#posts .post {
	width: 22.5em;
	margin-top: 2.4em !important;
}

#posts .post.large {
	width: 47.5em;
}

#posts .post.large .lines {
	width: 44.875em;
}

#posts .post.audio .wrapper img {
	width: 6.5625em;
	height: 6.5625em;
}

.page-index p iframe {
	width: 19.5em;
	height: 11.4em;
}

#posts .post.audio .player {
	width: 13em;
	height: 6.5625em;
	margin-top: 0;
}

#posts .post.photoset .photoset-grid li.\31 {
	width: 22.5em;
}

#posts .post.photoset .photoset-grid li.\32 {
	width: 11.25em;
}

#posts .post.photoset .photoset-grid li.\33 {
	width: 7.499925em;
}

#posts .post.photoset .photoset-grid li.\33.last {
	margin-left: -2px;
}

#posts .post.large.audio .wrapper img {
	width: 15.312499999999998em;
	height: 15.312499999999998em;
}

#posts .post.large.audio .player {
	width: 29.25em;
	height: 15.312499999999998em;
}

#posts .post.large.photoset .photoset-grid li.\31 {
	width: 47.5em;
}

#posts .post.large.photoset .photoset-grid li.\32 {
	width: 23.75em;
	margin-top: -2px;
}

#posts .post.large.photoset .photoset-grid li.\32.last {
	margin-left: -1px;
}

#posts .post.large.photoset .photoset-grid li.\33 {
	width: 15.833175em;
	margin-top: -2px;
}

#posts .post.large.photoset .photoset-grid li.\33.last {
	margin-left: -2px;
}

#posts.page-permalink .post {
	width: 30.833025000000003em;
	margin-top: 2.25em !important;
}

#posts.page-permalink #disqus_thread,#posts.page-permalink ol.notes {
	width: 30.833025000000003em;
}

#posts.page-permalink .post.audio .wrapper img {
	width: 9.47905875em;
	height: 9.47905875em;
}

#posts.page-permalink .post.audio .player {
	width: 18.416466250000003em;
	height: 9.47905875em;
}

#posts.page-permalink .post.photoset .photoset-grid li.\31 {
	width: 30.833025000000003em;
}

#posts.page-permalink .post.photoset .photoset-grid li.\32 {
	width: 15.416512500000001em;
	margin-top: -1px;
}

#posts.page-permalink .post.photoset .photoset-grid li.\33 {
	width: 10.27757222325em;
}

#posts.page-permalink .post.photoset .photoset-grid li.\33.last {
	margin-left: -2px;
}

footer .container {
	width: 50.0625em;
}

footer .container #recent-twitter {
	width: 47.5em;
	padding: 0;
}

footer .container #recent-twitter .tweet_odd,footer .container #recent-twitter .tweet_even {
	width: 47.5%;
	float: left;
}

footer .container #recent-twitter .tweet_odd {
	margin-right: 2.5em;
}

footer .container #site-links,footer .container #site-links,footer .container #social-links,footer .container .site-tags {
	width: 10em;
}

footer .container #tumblr-link,footer .container #site-links,footer .container #social-links {
	display: inline-block;
}

footer .container #tumblr-link,footer .container #theme-credit {
	width: 22.5em;
}

footer .container #theme-credit {
	float: right;
	text-align: right;
	display: none;
}

ol.notes li {
	width: 50% !important;
	font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
}

#posts.page-permalink .link .wrapper {
	padding: 1.8em 1.8em .1em !important;
	font-size: 1.75em !important;
}

.page-permalink p iframe {
	margin: 0 auto !important;
	margin-top: 3em !important;
	display: block;
}

#posts.page-permalink .post .lines {
	width: 48.8625em !important;
	margin: 0 !important;
	font-size: 1em;
}

#posts.page-permalink .post {
	width: 48.8625em !important;
}

section#posts.page-permalink {
	width: 50.4625em;
}

#posts.page-permalink ol.notes {
	display: none;
}

#posts.page-permalink .quote .wrapper blockquote {
	font-size: 1.75em !important;
	padding: 1.5em 1.5em 1.75em 1.5em !important;
}

#posts.page-permalink .post.quote .lines {
	padding: 1em 3em 2.25em !important;
}

#posts.page-permalink .quote .wrapper blockquote:after {
	border-width: 15px !important;
	margin-left: -5px !important;
	background: white !important;
}

iframe.spotify_audio_player {
	height: 27.5em !important;
	width: 28.5em !important;
}

.page-permalink iframe.spotify_audio_player {
	height: 54em !important;
	width: 55em !important;
}
#posts .quote .wrapper blockquote {
	font-size: 1.25em !important;
	line-height: 1.2 !important;
}

#post-details .meta_data {
	padding: 0 1.75em;
}



}

@media screen and (min-width:52.5em) and (-webkit-min-device-pixel-ratio:0) {
	.bokeh {
	margin-top: 18% !important;
}

#posts .post.large.photoset .photoset-grid li.\33 .last,#posts .post.photoset .photoset-grid li.\33 .last {
	margin-left: -1px;
}

#posts.page-permalink .post.photoset .photoset-grid li.\33 .last {
	margin-left: -1px;
}

#posts.page-permalink ol.notes {
	display: none;
}

#posts.page-permalink .text .wrapper h1 {
	font-size: 2em !important;
	padding: 1em 1em 1em 1em;
	line-height: 1.2em !important;
	margin-bottom: 0 !important;
}

#posts.page-permalink .post.text .lines {
	padding: 1em 3.25em 2.25em 3.25em !important;
}

.meta_data li.right {
	display: inline !important;
}


}

@media screen and (min-width:60em) {
	header .about {
	padding: 2.5em 0 2.2em;
}

header .about p {
	margin: 0 auto !important;
	max-width: 850px;
	font-size: 1em;
}

.bokeh {
	margin-top: 24% !important;
}

#posts.page-permalink ol.notes {
	display: block;
}

nav .filter .dropdown {
	width: 17.499825em;
}

.container,.pagination {
	width: 55.0625em;
}

#posts {
	width: 57.5625em;
}

section#posts.page-permalink {
	width: 59.3625em;
}

#posts.page-permalink #post-details {
	width: 56.8625em !important;
	float: none !important;
	margin-right: 0 !important;
}

ul.post-nav {
	margin-right: 0 !important;
	width: 56.8625em !important;
}

#posts .post {
	width: 26.25em;
}

#posts .post .lines {
	width: 23.625em;
}

#posts .post.large {
	width: 55em;
}

#posts .post.large .lines {
	width: 52.375em;
}

.page-index p iframe {
	width: 23.3em;
	height: 13.6em;
}

#posts .post.audio .wrapper img {
	width: 7.874999999999999em;
	height: 7.874999999999999em;
}

#posts .post.audio .player {
	width: 15.4375em;
	height: 7.874999999999999em;
	margin-top: 0;
}

#posts .post.photoset .photoset-grid li.\31 {
	width: 26.25em;
}

#posts .post.photoset .photoset-grid li.\32 {
	width: 13.125em;
}

#posts .post.photoset .photoset-grid li.\33 {
	width: 8.7499125em;
}

#posts .post.photoset .photoset-grid li.\33.last {
	margin-left: -2px;
}

#posts .post.large.audio .wrapper img {
	width: 19.25em;
	height: 19.25em;
}

#posts .post.large.audio .player {
	width: 35.75em;
	height: 19.25em;
}

#posts .post.large.photoset .photoset-grid li.\31 {
	width: 55em;
}

#posts .post.large.photoset .photoset-grid li.\32 {
	width: 27.5em;
	margin-top: -2px;
}

#posts .post.large.photoset .photoset-grid li.\32.last {
	margin-left: -1px;
}

#posts .post.large.photoset .photoset-grid li.\33 {
	width: 18.33315em;
	margin-top: -2px;
}

#posts .post.large.photoset .photoset-grid li.\33.last {
	margin-left: -2px;
}

#posts.page-permalink .post {
	width: 56.8625em !important;
		margin-top: 80px !important;
	
}

#posts.page-permalink .post .lines {
	width: 37.8625em !important;
	font: 1.5em/1.25em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif !important;
	padding: 2.5em 3.25em 2.5em 3.25em !important;
	margin: 0 !important;
}

#posts.page-permalink .post .lines p, #posts.page-permalink .post .lines li {
	line-height: 1.45em;
}

#posts.page-permalink .link .wrapper {
	padding: 2.25em 2.5em .1em !important;
	font-size: 2em !important;
}

.page-permalink p iframe {
	margin: 0 auto !important;
	margin-top: 2em !important;
	display: block;
}

#posts.page-permalink #disqus_thread,#posts.page-permalink ol.notes {
	width: 34.99965em;
}

#posts.page-permalink .post.audio .wrapper img {
	width: 10.9373775em;
	height: 10.9373775em;
}

#posts.page-permalink .post.audio .player {
	width: 21.124772500000002em;
	height: 10.9373775em;
}

#posts.page-permalink .post.photoset .photoset-grid li.\31 {
	width: 34.99965em;
}

#posts.page-permalink .post.photoset .photoset-grid li.\32 {
	width: 17.499825em;
	margin-top: -1px;
}

#posts.page-permalink .post.photoset .photoset-grid li.\33 {
	width: 11.6664333345em;
}

#posts.page-permalink .post.photoset .photoset-grid li.\33.last {
	margin-left: -2px;
}

footer .container {
	width: 57.5625em;
}

footer .container #recent-twitter {
	width: 16.2498375em;
	margin-top: 2.5em;
}

footer .container #recent-twitter .tweet_odd,footer .container #recent-twitter .tweet_even {
	width: 100%;
	float: left;
}

footer .container #recent-twitter .tweet_odd {
	margin-right: 0;
}

footer .container #site-links,footer .container .site-tags,footer .container #social-links {
	width: 7.187412500000001em;
}

footer .container #tumblr-link,footer .container #theme-credit {
	width: 26.25em;
}

#posts.page-permalink .quote .wrapper blockquote {
	font-size: 2em !important;
	padding: 1.5em 2.25em 1.75em 2.25em !important;
}

#posts.page-permalink .post.quote .lines {
	padding: 1.25em 3em 2.25em !important;
}

#posts.page-permalink .quote .wrapper blockquote:after {
	border-width: 20px !important;
	margin-left: 10px !important;
	background: white !important;
}

#posts.page-permalink .text .wrapper h1 {
	font-size: 2.5em !important;
	padding: 1.25em 1.4em 1em 1.4em;
	line-height: 1.2em !important;
	margin-bottom: 0 !important;
}

#posts.page-permalink .post.text .lines {
	padding: 1em 3.25em 2.25em 3.25em !important;
}

#posts.page-permalink .post.photo .lines {
	padding: 2em 3.25em 1.5em 3.25em !important;
}

#posts.page-permalink .post.photo.photoset .lines {
	padding: 2.5em 3.25em 2.5em 3.25em !important;
}

iframe.spotify_audio_player {
	height: 31.5em !important;
	width: 32em !important;
}

.page-permalink iframe.spotify_audio_player {
	height: 62.25em !important;
	width: 64em !important;
}

#posts .quote .wrapper blockquote {
	font-size: 1.25em !important;
	line-height: 1.2 !important;
}

#post-details .meta_data {
	padding: 0 4.85em;
}

}

@media screen and (min-width:60em) and (-webkit-min-device-pixel-ratio:0) {
	#posts .post.large.photoset .photoset-grid li.\33 .last,#posts .post.photoset .photoset-grid li.\33 .last {
	margin-left: -1px;
}

#posts.page-permalink .post.photoset .photoset-grid li.\33 .last {
	margin-left: 0px;
}

}


@media screen and (min-width:77.5em) {
	header .about {
	padding: 2.5em 0 2.4em;
}

header .about p {
	margin: 0 auto !important;
	max-width: 860px;
	font-size: 1em;
}

header ul.social {
	max-width: 100%;
	margin-top: -.75em !important;
	margin-bottom: .4em !important;
}

.container,.pagination {
	width: 72.5625em;
}

#posts {
	width: 75.0625em;
}

section#posts.page-permalink {
	width: 59.3625em;
}

#posts.page-permalink #post-details {
	width: 56.8625em !important;
	float: none !important;
	margin-right: 0 !important;
}

ul.post-nav {
	margin-right: 0 !important;
	width: 56.8625em !important;
}

#posts .post {
	width: 22.499775em;
}

#posts .post.large {
	width: 47.499525000000006em;
}

#posts .post.large .lines {
	width: 44.874525000000006em;
}

.page-index p iframe {
	width: 19.6em;
	height: 10.9em;
}

#posts .post.audio .wrapper img {
	width: 6.56242125em;
	height: 6.56242125em;
}

#posts .post.audio .player {
	width: 12.99985375em;
	height: 6.56242125em;
}

#posts .post.photoset .photoset-grid li.\31 {
	width: 22.499775em;
}

#posts .post.photoset .photoset-grid li.\32 {
	width: 11.2498875em;
}

#posts .post.photoset .photoset-grid li.\33 {
	width: 7.49985000075em;
}

#posts .post.large.audio .wrapper img {
	width: 15.31233375em;
	height: 15.31233375em;
}

#posts .post.large.audio .player {
	width: 29.249691250000005em;
	height: 15.31233375em;
}

#posts .post.large.photoset .photoset-grid li.\31 {
	width: 47.499525000000006em;
}

#posts .post.large.photoset .photoset-grid li.\32 {
	width: 23.728929375em;
	margin-top: -2px;
}

#posts .post.large.photoset .photoset-grid li.\33 {
	width: 15.833016668250002em;
}

#posts.page-permalink .post,#posts.page-permalink #disqus_thread,#posts.page-permalink ol.notes {
	width: 56.8625em !important;
}

#posts.page-permalink .post .lines,#posts.page-permalink #disqus_thread .lines,#posts.page-permalink ol.notes .lines {
	width: 44.874525000000006em;
}

#posts.page-permalink .post.audio .wrapper img {
	width: 15.31233375em;
	height: 15.31233375em;
}

#posts.page-permalink .post.audio .player {
	width: 29.249691250000005em;
	height: 15.31233375em;
}

#posts.page-permalink .post.photoset .photoset-grid li.\31 {
	width: 47.499525000000006em;
}

#posts.page-permalink .post.photoset .photoset-grid li.\32 {
	width: 23.728929375em;
}

#posts.page-permalink .post.photoset .photoset-grid li.\33 {
	width: 15.833016668250002em;
}

ol.notes {
	float: left;
}

ol.notes li {
	width: 50%;
	float: left;
	font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
}

footer .container {
	width: 75.0625em;
}

footer .container #recent-twitter {
	width: 22.499775em;
}

footer .container #site-links,footer .container .site-tags,footer .container #social-links {
	width: 9.999881250000001em;
}

footer .container #tumblr-link,footer .container #theme-credit {
	width: 35em;
}

#posts.page-permalink .quote .wrapper blockquote {
	font-size: 2em !important;
	padding: 1.5em 2.25em 1.75em 2.25em !important;
}

#posts.page-permalink .post.quote .lines {
	padding: 1.25em 3em 2.25em !important;
}

#posts.page-permalink .quote .wrapper blockquote:after {
	border-width: 20px !important;
	margin-left: 10px !important;
	background: white !important;
}

#posts.page-permalink .text .wrapper h1 {
	font-size: 2.5em !important;
	padding: 1.25em 1.4em 1em 1.4em;
	line-height: 1.2em !important;
	margin-bottom: 0 !important;
}

#posts.page-permalink .post.text .lines {
	padding: 1em 3.25em 2.25em 3.25em !important;
}

iframe.spotify_audio_player {
	height: 27.5em !important;
	width: 28.5em !important;
}

.page-permalink iframe.spotify_audio_player {
	height: 62.25em !important;
	width: 64em !important;
}

#posts .quote .wrapper blockquote {
	font-size: 1.25em !important;
	line-height: 1.2 !important;
}

}

@media screen and (min-width:77.5em) and (-webkit-min-device-pixel-ratio:0) {
	#posts.page-permalink .photoset .photoset-grid li.\32 .last,#posts .post.large.photoset .photoset-grid li.\32 .last {
	margin-left: 0px;
}

#posts.page-permalink .photoset .photoset-grid li.\33 .last,#posts .post.large.photoset .photoset-grid li.\33 .last {
	margin-left: -1px;
}

}

@media screen and (min-width:90em) {
	header .about {
	padding: 2.5em 0 2.4em;
}

.container,.pagination {
	width: 85.0625em;
}

#posts {
	width: 87.5625em;
}

section#posts.page-permalink {
	width: 59.3625em;
}

#posts.page-permalink #post-details {
	width: 56.8625em !important;
	float: none !important;
	margin-right: 0 !important;
}

ul.post-nav {
	margin-right: 0 !important;
	width: 56.8625em !important;
}

#posts .post {
	width: 26.666400000000003em;
}

#posts .post .lines {
	width: 23.6em !important;
	margin-right: 0 !important;
}

.page-index p iframe {
	width: 23.7em;
	height: 13.9em;
}

#posts .post.large {
	width: 55.832775000000005em;
}

#posts .post.large .lines {
	width: 53.207775000000005em;
}

#posts .post.audio .wrapper img {
	width: 8.02074em;
	height: 8.02074em;
}

#posts .post.audio .player {
	width: 15.708160000000003em;
	height: 8.02074em;
}

#posts .post.photoset .photoset-grid li.\31 {
	width: 26.666400000000003em;
}

#posts .post.photoset .photoset-grid li.\32 {
	width: 13.333200000000001em;
}

#posts .post.photoset .photoset-grid li.\33 {
	width: 8.888711112000001em;
	background: red;
}

#posts .post.photoset .photoset-grid li.\33.last {
	margin-left: -0.125em;
}

#posts .post.large.audio .wrapper img {
	width: 18.22897125em;
	height: 18.22897125em;
}

#posts .post.large.audio .player {
	width: 34.666303750000004em;
	height: 18.22897125em;
}

#posts .post.large.photoset .photoset-grid li.\31 {
	width: 55.832775000000005em;
}

#posts .post.large.photoset .photoset-grid li.\32 {
	width: 27.895554375em;
	margin-top: -2px;
}

#posts .post.large.photoset .photoset-grid li.\32.last {
	margin-left: -1px;
}

#posts .post.large.photoset .photoset-grid li.\33 {
	width: 18.610738890750003em;
	margin-top: -2px;
}

#posts .post.large.photoset .photoset-grid li.\33.last {
	margin-left: -2px;
}

#posts.page-permalink .post,#posts.page-permalink #disqus_thread,#posts.page-permalink ol.notes {
	width: 56.8625em !important;
}

#posts.page-permalink .post .lines,#posts.page-permalink #disqus_thread .lines,#posts.page-permalink ol.notes .lines {
	width: 53.207775000000005em;
}

#posts.page-permalink .post.audio .wrapper img {
	width: 18.22897125em;
	height: 18.22897125em;
}

#posts.page-permalink .post.audio .player {
	width: 34.666303750000004em;
	height: 18.22897125em;
}

#posts.page-permalink .post.photoset .photoset-grid li.\31 {
	width: 55.832775000000005em;
}

#posts.page-permalink .post.photoset .photoset-grid li.\32 {
	width: 27.895554375em;
	margin-top: -2px;
}

#posts.page-permalink .post.photoset .photoset-grid li.\32.last {
	margin-left: -1px;
}

#posts.page-permalink .post.photoset .photoset-grid li.\33 {
	width: 18.610738890750003em;
	margin-top: -2px;
}

#posts.page-permalink .post.photoset .photoset-grid li.\33.last {
	margin-left: -2px;
}

footer .container {
	width: 87.5625em;
}

footer .container #recent-twitter {
	width: 26.666400000000003em;
}

footer .container #site-links,footer .container .site-tags,footer .container #social-links {
	width: 12.083193750000001em;
}

footer .container #tumblr-link,footer .container #theme-credit {
	width: 40.9375em;
}

#posts.page-permalink .quote .wrapper blockquote {
	font-size: 2em !important;
	padding: 1.5em 2.25em 1.75em 2.25em !important;
}

#posts.page-permalink .post.quote .lines {
	padding: 1.25em 3em 2.25em !important;
}

#posts.page-permalink .quote .wrapper blockquote:after {
	border-width: 20px !important;
	margin-left: 10px !important;
	background: white !important;
}

#posts.page-permalink .text .wrapper h1 {
	font-size: 2.5em !important;
	padding: 1.25em 1.4em 1em 1.4em;
	line-height: 1.2em !important;
	margin-bottom: 0 !important;
}

#posts.page-permalink .post.text .lines {
	padding: 1em 3.25em 2.25em 3.25em !important;
}

iframe.spotify_audio_player {
	height: 31.5em !important;
	width: 32em !important;
}

.page-permalink iframe.spotify_audio_player {
	height: 62.25em !important;
	width: 64em !important;
}

#posts .quote .wrapper blockquote {
	font-size: 1.25em !important;
	line-height: 1.2 !important;
}

}

@media screen and (min-width:90em) and (-webkit-min-device-pixel-ratio:0) {
	#posts.page-permalink .photoset .photoset-grid li.\32 .last,#posts .post.large.photoset .photoset-grid li.\32 .last {
	margin-left: 0px;
}

#posts.page-permalink .photoset .photoset-grid li.\33 .last,#posts .post.large.photoset .photoset-grid li.\33 .last {
	margin-left: 0px;
}

}

@-moz-document url-prefix() {
	#posts .photoset .photoset-grid{margin-bottom: -6px;
}

}@media screen and (-webkit-min-device-pixel-ratio:0) {
	header nav .filter li a.dropdown-toggle: :after{height:36px;
}

header nav .filter .dropdown.open .dropdown-toggle::after {
	height: 36px;
}

header nav .filter .dropdown.open .dropdown-menu {
	top: 39px;
}

.pagination a,.pagination .details {
	line-height: 4em !important;
	font-weight: bold !important;
}

.pagination .details .icon {
	line-height: 25px;
}

.footer li a.disqus span.icon {
	top: 13px;
	font-size: 16px;
}

.footer li a.notes span.icon {
	top: 14px;
	font-size: 11px;
}

}.lt-ie9 header .container {
	padding: 4.375em 0;
}

.lt-ie9 header .logo {
	width: auto;
	text-align: left;
	float: none;
}

.lt-ie9 header .logo img {
	margin-right: 0.625em;
	margin-top: -0.375em;
}

.lt-ie9 header .logo span {
	width: auto;
	text-align: left;
	clear: none;
	display: inline-block;
}

.lt-ie9 nav .pages {
	display: inline-block;
	padding: 0;
	margin-top: 0.75em;
	list-style: none;
	float: left;
}

.lt-ie9 nav {
	float: right;
	margin-top: 0.6875em;
}

.lt-ie9 nav .filter {
	margin-left: 1.875em;
}

.lt-ie9 nav .filter .dropdown.open .dropdown-menu li.pages-in-nav {
	display: none;
}

.lt-ie9 nav .filter .dropdown {
	width: 17.499825em;
}

.lt-ie9 .container,.lt-ie9 .pagination {
	width: 55.0625em;
}

.lt-ie9 #posts {
	width: 57.5625em;
}

.lt-ie9 #posts .post {
	width: 26.25em;
}

.lt-ie9 #posts .post .lines {
	width: 23.75em;
}

.lt-ie9 #posts .post.large {
	width: 55em;
}

.lt-ie9 #posts .post.large .lines {
	width: 52.5em;
}

.lt-ie9 #posts .post.audio .wrapper img {
	width: 7.874999999999999em;
	height: 7.874999999999999em;
}

.lt-ie9 #posts .post.audio .player {
	width: 15.4375em;
	height: 7.874999999999999em;
	margin-top: 0;
}

.lt-ie9 #posts .post.photoset .photoset-grid li.\31 {
	width: 26.25em;
}

.lt-ie9 #posts .post.photoset .photoset-grid li.\32 {
	width: 13.125em;
}

.lt-ie9 #posts .post.photoset .photoset-grid li.\33 {
	width: 8.7499125em;
}

.lt-ie9 #posts .post.photoset .photoset-grid li.\33.last {
	margin-left: -2px;
}

.lt-ie9 #posts .post.large.audio .wrapper img {
	width: 19.25em;
	height: 19.25em;
}

.lt-ie9 #posts .post.large.audio .player {
	width: 35.75em;
	height: 19.25em;
}

.lt-ie9 #posts .post.large.photoset .photoset-grid li.\31 {
	width: 55em;
}

.lt-ie9 #posts .post.large.photoset .photoset-grid li.\32 {
	width: 27.5em;
	margin-top: -2px;
}

.lt-ie9 #posts .post.large.photoset .photoset-grid li.\32.last {
	margin-left: -1px;
}

.lt-ie9 #posts .post.large.photoset .photoset-grid li.\33 {
	width: 18.33315em;
	margin-top: -2px;
}

.lt-ie9 #posts .post.large.photoset .photoset-grid li.\33.last {
	margin-left: -2px;
}

.lt-ie9 #posts.page-permalink .post {
	width: 34.99965em;
}

.lt-ie9 #posts.page-permalink #disqus_thread,.lt-ie9 #posts.page-permalink ol.notes {
	width: 34.99965em;
}

.lt-ie9 #posts.page-permalink #post-details {
	width: 17.499825em;
	float: right;
}

.lt-ie9 #posts.page-permalink .audio.photoset .wrapper img {
	width: 10.9373775em;
	height: 10.9373775em;
}

.lt-ie9 #posts.page-permalink .audio.photoset .player {
	width: 21.124772500000002em;
	height: 10.9373775em;
}

.lt-ie9 #posts.page-permalink .post.photoset .photoset-grid li.\31 {
	width: 34.99965em;
}

.lt-ie9 #posts.page-permalink .post.photoset .photoset-grid li.\32 {
	width: 17.499825em;
	margin-top: -1px;
}

.lt-ie9 #posts.page-permalink .post.photoset .photoset-grid li.\33 {
	width: 11.6664333345em;
}

.lt-ie9 #posts.page-permalink .post.photoset .photoset-grid li.\33.last {
	margin-left: -2px;
}

.lt-ie9 footer .container {
	width: 57.5625em;
}

.lt-ie9 footer .container #recent-twitter {
	width: 16.2498375em;
	margin-top: 2.5em;
}

.lt-ie9 footer .container #recent-twitter .tweet_odd,.lt-ie9 footer .container #recent-twitter .tweet_even {
	width: 100%;
	float: left;
}

.lt-ie9 footer .container #recent-twitter .tweet_odd {
	margin-right: 0;
}

.lt-ie9 footer .container #site-links,.lt-ie9 footer .container .site-tags,.lt-ie9 footer .container #social-links {
	width: 7.187412500000001em;
}

.lt-ie9 footer .container #tumblr-link,.lt-ie9 footer .container #theme-credit {
	width: 26.25em;
}

div.wrapper a.title h1 {
	line-height: 1.25em !important;
	margin-bottom: 0 !important;
}

div.post-wrapper {
	background: #eee;
}

nav {
	margin-top: 0 !important;
}

nav a {
	color: #7fb3b1 !important;
	text-transform: none !important;
	letter-spacing: normal !important;
	font: 14px helvetica neue, helvetica, arial, sans-serif !important;
	font-weight: bold !important;
}

iframe.soundcloud_audio_player {
	height: 168px;
	margin-bottom: -.25em;
}

}