/* @override 
	http://centripetalnotion.com/tumblr/tumblr.css */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}

body {
	line-height: 1;
	background: url('../images/bg.jpg') no-repeat left top #2e3233;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block
}

nav ul {
	list-style: none
}

ol,ul {
	list-style: none
}

blockquote,q {
	quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}

del {
	text-decoration: line-through
}

abbr[title],dfn[title] {
	border-bottom: 1px dotted;
	cursor: help
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0
}

input,select {
	vertical-align: middle
}

body {
	font-size: 13px;
	line-height: 1.6;
	position: relative
}

a:link,a:visited {
	text-decoration: none
}

a:hover,a:active {
	outline: none
}

h1,h2,h3,h4,h5,h6,.auto-headings .copy p:first-child strong:first-child {
	color: #424242;
	font-weight: 700;
	line-height: 1.2
}

h2 {
	font-size: 18px
}

h3 {
	font-size: 16px
}

h4 {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px
}

p {
	margin-bottom: 15px
}

em {
	font-style: italic
}

small {
	font-size: 11px
}

label {
	cursor: pointer
}

pre,code {
	font-family: Monaco, Consolas, "Courier New", monospace
}

pre {
	display: block;
	background: #eee;
	text-shadow: 0 1px #fff;
	overflow: auto;
	margin: 10px 0;
	padding: 10px
}

input,textarea {
	font-family: Helvetica, Arial, sans-serif;
	-webkit-appearance: none
}

.icon {
	position: absolute;
	top: 0
}

.clear {
	clear: both
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}

* html .clearfix {
	height: 1%
}

#branding:after,.inner:after,#posts:after,.media:after,.post-panel:after,.meta:after,#socialize:after,#followed-list:after,#followed-wrap:after,#scrollable-wrap:after,.side-box:after,#pagination:after,#footer-end:after,#footer-links:after,ul.chat:after,ul.chat li:after,#likes:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

#header .shadow {
	width: 100%;
	height: 5px;
	position: absolute;
	left: 0;
	bottom: -5px;
	z-index: 500;
	display: none
}

#header .shadow span {
	background: url(http://static.tumblr.com/xgwqnql/fMLlbpj9t/header_shadow.png) left top repeat-x;
	height: 5px;
	display: block
}

#header {
	width: 100%;
	z-index: 1000
}

.pinned {
	position: absolute;
	top: 30px;
	left: 0
}

.pinned .inner {
	border-bottom: 2px solid rgba(0,0,0,0.1);
	padding-bottom: 3px
}

.ruled-top {
	border-top: 3px solid rgba(0,0,0,0.1)
}

.fixed {
	background: url(http://static.tumblr.com/njty47g/Omoleufdi/topbar_bg.png) left top repeat-x;
	position: fixed;
	left: 0;
	-webkit-box-shadow: 0 7px 8px rgba(0,0,0,0.12);
	-moz-box-shadow: 0 7px 8px rgba(0,0,0,0.12);
	box-shadow: 0 7px 8px rgba(0,0,0,0.12)
}

.fixed .blog-title a,.fixed .menu a {
	color: #333
}

#header,#header .inner {
	height: 48px
}

#header .logo {
	float: left;
	margin-right: 35px
}

#header .logo img {
	max-height: 48px
}

#header .blog-title {
	font-size: 20px;
	line-height: 1;
	float: left;
	padding: 13px 35px 0 0
}

#header .pages {
	float: left;
	margin: 15px 35px 0 0
}

#header .pages li,.menu li {
	display: block;
	float: left
}

#header .pages a {
	margin-right: 16px
}

.pages a,.fixed .pages a,.more-likes,.like_link a {
	background: rgba(0,0,0,0.05);
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 3px 11px
}

.menu {
	float: right;
	padding-top: 16px
}

.menu li:first-child a {
	margin-left: 0
}

.menu a {
	float: left;
	overflow: hidden;
	margin-left: 7px;
	display: block;
	position: relative
}

.menu a:hover,.blog-title a:hover {
	color: #000
}

.menu .label {
	font-size: 12px;
	font-weight: 700;
	display: none
}

.menu .icon {
	background: url("http://static.tumblr.com/hugxd2w/YUsma9g5b/effector-sprite.png") no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	opacity: 0.8;
	position: static
}

.menu .random .icon {
	background-position: 0 -25px;
	width: 19px
}

.menu .archives .icon {
	background-position: -25px -25px;
	width: 19px
}

.menu .rss .icon {
	background-position: -50px -25px
}

.menu .ask .icon {
	background-position: -100px -25px;
	width: 17px
}

.menu .submit .icon {
	background-position: -75px -25px;
	width: 19px
}

#search {
	width: 180px;
	float: right;
	padding: 7px 0 0 35px
}

#search-form {
	width: 180px;
	position: relative
}

#search-form:before {
	content: '\00a0';
	background-image: url("http://static.tumblr.com/hugxd2w/YUsma9g5b/effector-sprite.png");
	background-repeat: no-repeat;
	background-position: -150px -50px;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 9px;
	left: 12px;
	display: block
}

#search-form input {
	color: #999;
	font-family: Arial, Helvetica Neue, sans-serif;
	font-size: 12px;
	height: 23px;
	display: block;
	line-height: 24px;
	padding: 5px 0 4px;
	width: 128px;
	border-radius: 20px;
	padding: 1px 20px 0 26px;
	background: white;
	border: 3px solid rgba(0,0,0,0.15);
	outline: none;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2),inset 0 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2),inset 0 1px 3px rgba(0,0,0,0.5)
}

#page {
	padding-top: 60px
}

#page,.inner {
	width: 760px
}

.banner {
	margin: -15px 0 40px
}

.banner img {
	max-width: 760px
}

.banner .blog-title {
	font-size: 38px;
	letter-spacing: -0.015em
}

.banner .tagline {
	font-size: 16px;
	font-weight: 300;
	padding-bottom: 0
}

.textual {
	text-align: center;
	margin: 15px 0 75px
}

#content {
	width: 500px
}

#sidebar,#footer {
	font-size: 12px;
	line-height: 19px
}

#sidebar {
	float: left;
	width: 180px;
	margin-bottom: 80px
}

.side-box {
	padding: 25px 0
}

.side-box p {
	margin-bottom: 18px
}

#sidebar #search {
	float: none;
	padding: 0 0 25px
}

#sidebar .logo img {
	max-width: 180px
}

#sidebar .blog-title {
	font-size: 22px
}

#sidebar .description .portrait {
	float: left;
	margin: 5px 15px 5px 0
}

#sidebar .portrait,#sidebar .large-portrait,#followed-list a,#likes img {
	border: 4px solid #fff;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.1)
}

#sidebar .large-portrait {
	max-width: 170px
}

#sidebar h2,#footer h2 {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 15px
}

#sidebar img {
	max-width: 100%
}

#sidebar .side-box:first-child {
	border-top: 0;
	padding-top: 0
}

#sidebar .pages li {
	padding: 5px 0
}

#sidebar .pages a {
	font-size: 12px;
	text-transform: none;
	display: block
}

#back-to-top {
	position: fixed;
	bottom: 100px;
	right: 0;
	height: 20px;
	padding: 5px;
	line-height: 20px;
	width: 80px;
	background: white;
	border-radius: 5px 0 0 5px;
	cursor: pointer;
	margin-right: -85px;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.17),0 3px 2px rgba(0,0,0,0.09);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.17),0 3px 2px rgba(0,0,0,0.09);
	-webkit-transition: margin 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-moz-transition: margin 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-o-transition: margin 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: margin 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

#back-to-top.snippet {
	margin-right: -60px
}

#back-to-top:hover {
	margin-right: -20px
}

#back-to-top p {
	margin-left: 30px
}

#back-to-top .icon {
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	margin-right: 8px;
	margin-top: 5px;
	border-radius: 3px;
	background-image: url("http://static.tumblr.com/hugxd2w/YUsma9g5b/effector-sprite.png");
	background-repeat: no-repeat;
	background-position: 4px -120px
}

#back-to-top:hover .icon {
	background-color: #2f3030
}

#footer {
	margin-top: 30px;
	clear: both;
	position: relative;
	z-index: 2
}

#footer .footer-panel {
	position: relative;
	clear: both;
	padding: 30px 0
}

#footer-end {
	position: relative;
	clear: both;
	font-famil: Helvetica Neue, Arial, sans-serif;
	padding: 20px 0 50px
}

#footer h2 {
	font-size: 20px;
	margin-bottom: 30px
}

#footer-end .pixel-union {
	float: right
}

#footer-end .pixel-union .logo:after {
	background: url("http://static.tumblr.com/hugxd2w/YUsma9g5b/effector-sprite.png") no-repeat;
	background-position: -125px -25px;
	width: 16px;
	height: 16px;
	content: '\00a0';
	display: inline-block;
	margin-left: 5px;
	opacity: 0.8;
	filter: alpha(opacity=80)
}

#footer-end .copyright {
	clear: both
}

.invert #footer-end .pixel-union .logo:after {
	background-position: -125px 0px;
	opacity: 1;
	filter: alpha(opacity=100)
}

.footer-copy {
	float: left
}

#footer-links {
	font-size: 12px;
	font-weight: 700;
	margin: 5px 0
}

#footer-links li {
	line-height: 1;
	border-left: 1px solid rgba(0,0,0,0.1);
	display: block;
	float: left;
	padding: 0 8px
}

#footer-links li:first-child {
	padding-left: 0;
	border-left: 0
}

#pagination {
	margin-bottom: 30px
}

#pagination .nextprev {
	font-size: 12px;
	font-weight: 700;
	float: left
}

#pagination .nextprev span {
	opacity: 0.6
}

#pagination .sep {
	opacity: 1;
	padding: 0 5px
}

#pagination .nextprev a {
	color: rgba(0,0,0,0.75);
	background: rgba(0,0,0,0.05);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px 8px
}

#pagination a.previous {
	margin-right: 10px
}

#pagination .current-page {
	float: right;
	font-size: 12px;
	text-align: center
}

#pagination .current-page em {
	font-size: 13px;
	font-family: Georgia, Times, "Times New Roman", serif;
	text-transform: lowercase;
	padding-right: 1px
}

#tabs {
	position: relative
}

#tabs #tabs-nav {
	padding: 0 5px;
	border-color: #ccc;
	border-bottom: 1px solid rgba(0,0,0,0.1)
}

#tabs #tabs-nav h2 {
	display: inline-block;
	margin: 0
}

#tabs #tabs-nav h2 span {
	position: relative;
	top: 1px;
	display: block;
	cursor: pointer;
	border-color: #ccc;
	border: 1px solid rgba(0,0,0,0.1);
	border-bottom: 0;
	background: rgba(0,0,0,0.05);
	padding: 5px 9px;
	margin-right: 5px;
	border-radius: 3px 3px 0 0
}

#tabs .tab {
	position: relative;
	top: 0;
	left: 200px;
	display: none;
	opacity: 0;
	filter: alpha(opacity=0)
}

#tabs .tab.active {
	display: block
}

#twitter .profile {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px dashed rgba(0,0,0,0.15)
}

#twitter .profile .avatar {
	float: left;
	margin: 0 8px 2px 0
}

#twitter .profile .avatar img {
	width: 32px;
	height: 32px;
	background: #fff;
	padding: 3px
}

#twitter .profile h3 {
	margin-bottom: 8px;
	word-wrap: break-word
}

#twitter .profile .username {
	font-size: 16px;
	font-weight: 700;
	margin: 0
}

#twitter .profile .name {
	font-size: 12px;
	font-weight: 400
}

#twitter .profile .bio {
	font-size: 13px;
	font-family: georgia, serifl;
	font-style: italic;
	padding: 2px 0
}

#twitter .tweets li {
	border-bottom: 1px dashed rgba(0,0,0,0.15);
	padding: 20px 0
}

#twitter .tweets li:last-child {
	border: 0;
	padding-bottom: 0
}

#twitter .tweets li a {
	display: inline;
	padding: 0
}

#twitter p {
	word-wrap: break-word;
	margin: 0
}

#twitter .tweet-meta {
	font-size: 11px;
	display: block;
	padding-top: 3px
}

#instagram #instagram-photos img {
	background: white;
	width: 170px;
	margin-left: 1px;
	display: block;
	border: 4px solid white;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
	margin-bottom: 5px
}

#instagram #instagram-photos aside {
	font-size: 11px;
	display: block;
	padding-top: 3px;
	padding: 5px
}

#instagram #instagram-photos .caption {
	margin-bottom: 5px;
	font-size: 13px
}

#followed-wrap {
	overflow: hidden;
	margin-bottom: 5px
}

#group-members h2 span,#followed h2 span {
	font-weight: 400;
	font-style: italic
}

#group-members li,#followed li {
	position: relative;
	float: left;
	margin: 0 5px 6px 1px
}

#group-members li a,#followed li a {
	background: #fff;
	width: 24px;
	height: 24px;
	display: block;
	border: 3px solid white;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.1)
}

#group-members li img,#followed li img {
	display: block
}

#group-members li span,#followed li span {
	position: absolute;
	display: block;
	white-space: pre;
	padding: 3px 10px;
	text-align: center;
	background: #000;
	background: rgba(0,0,0,0.7);
	color: #fff;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.2) inset;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2) inset;
	left: 50%;
	bottom: 29px;
	z-index: 25;
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden
}

#group-members li span:after,#followed li span:after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 50%;
	margin-left: -7px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid rgba(0,0,0,0.7);
	z-index: 50
}

#likes-panel .more-likes {
	line-height: 1.3;
	position: absolute;
	right: 0;
	top: 30px
}

#likes .like_post {
	float: left;
	width: 170px;
	margin-left: 25px
}

#likes .post_info_bottom {
	display: block!important;
	padding-top: 5px
}

#likes .via {
	font-style: italic;
	font-family: georgia, serif;
	font-size: 11px
}

#likes .like_post p {
	margin: 0;
	padding: 2px 0
}

#likes .like_post blockquote {
	border-left: 3px solid rgba(0,0,0,0.1);
	padding-left: 15px;
	margin-bottom: .75em
}

#likes .like_video iframe,#likes .like_video object,#likes .like_video embed {
	width: 100%!important;
	display: block
}

#likes .like_quote {
	font-size: 15px;
	font-family: georgia, serif;
	padding-bottom: 10px
}

#likes .like_link a {
	display: block;
	text-transform: none;
	font-size: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px 10px
}

#likes .like_caption {
	padding: 10px 0
}

#likes img {
	background: #fff;
	width: 160px;
	display: block;
	border-width: 5px
}

#sidebar #likes {
	margin: 0 0 20px
}

#sidebar #likes .like_post {
	width: 180px;
	float: none;
	border-bottom: 1px dashed rgba(0,0,0,0.15);
	margin: 0;
	padding: 20px 0
}

#sidebar #likes img {
	width: 170px
}

#socialize li {
	float: left;
	padding-top: 5px;
	margin: 0 4px 5px 0
}

#socialize a {
	background: url("http://static.tumblr.com/hugxd2w/ULIma0bba/social-icons-black.png") left top no-repeat;
	width: 18px;
	height: 18px;
	border: 0;
	display: block;
	text-indent: -999em;
	overflow: hidden;
	opacity: 0.8;
	padding: 0
}

#socialize a:hover {
	background-color: transparent;
	opacity: 1
}

#socialize .twitter a {
	background-position: -18px top
}

#socialize .facebook a {
	background-position: -36px top
}

#socialize .vimeo a {
	background-position: -54px top
}

#socialize .flickr a {
	background-position: -72px top
}

#socialize .digg a {
	background-position: -90px top
}

#socialize .delicious a {
	background-position: -108px top
}

#socialize .lastfm a {
	background-position: -126px top
}

#socialize .linkedin a {
	background-position: -144px top
}

#socialize .youtube a {
	background-position: -162px top
}

#socialize .google a {
	background-position: -180px top
}

#socialize .cargo a {
	background-position: -198px top
}

#socialize .myspace a {
	background-position: -216px top
}

#socialize .skype a {
	background-position: -234px top
}

#socialize .ffffound a {
	background-position: -252px top
}

#socialize .soundcloud a {
	background-position: -270px top
}

#socialize .behance a {
	background-position: -288px top
}

#socialize .forrst a {
	background-position: -306px top
}

#socialize .foursquare a {
	background-position: -324px top
}

#socialize .xbox a {
	background-position: -342px top
}

#socialize .pinterest a {
	background-position: -360px top
}

#socialize .grooveshark a {
	background-position: -378px top
}

#socialize .rdio a {
	background-position: -396px top
}

#socialize .github a {
	background-position: -414px top
}

#socialize .pinboard a {
	background-position: -432px top
}

.lg-icons #socialize a {
	width: 25px;
	height: 25px;
	background-position: left bottom
}

.lg-icons #socialize .twitter a {
	background-position: -25px bottom
}

.lg-icons #socialize .facebook a {
	background-position: -50px bottom
}

.lg-icons #socialize .vimeo a {
	background-position: -75px bottom
}

.lg-icons #socialize .flickr a {
	background-position: -100px bottom
}

.lg-icons #socialize .digg a {
	background-position: -125px bottom
}

.lg-icons #socialize .delicious a {
	background-position: -150px bottom
}

.lg-icons #socialize .lastfm a {
	background-position: -175px bottom
}

.lg-icons #socialize .linkedin a {
	background-position: -200px bottom
}

.lg-icons #socialize .youtube a {
	background-position: -225px bottom
}

.lg-icons #socialize .google a {
	background-position: -250px bottom
}

.lg-icons #socialize .cargo a {
	background-position: -275px bottom
}

.lg-icons #socialize .myspace a {
	background-position: -300px bottom
}

.lg-icons #socialize .skype a {
	background-position: -325px bottom
}

.lg-icons #socialize .ffffound a {
	background-position: -350px bottom
}

.lg-icons #socialize .soundcloud a {
	background-position: -375px bottom
}

.lg-icons #socialize .behance a {
	background-position: -400px bottom
}

.lg-icons #socialize .forrst a {
	background-position: -425px bottom
}

.lg-icons #socialize .foursquare a {
	background-position: -450px bottom
}

.lg-icons #socialize .xbox a {
	background-position: -475px bottom
}

.lg-icons #socialize .pinterest a {
	background-position: -500px bottom
}

.lg-icons #socialize .grooveshark a {
	background-position: -525px bottom
}

.lg-icons #socialize .rdio a {
	background-position: -550px bottom
}

.lg-icons #socialize .github a {
	background-position: -575px bottom
}

.lg-icons #socialize .pinboard a {
	background-position: -600px bottom
}

#notes-toggle {
	color: #5C6061;
	font-family: Arial, Helvetica Neue, sans-serif;
	font-size: 11px;
	font-weight: 400;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding-left: 15px;
	position: relative;
	top: -5px
}

#notes-toggle .icon {
	background-color: #5c6061;
	background-image: url("http://static.tumblr.com/hugxd2w/YUsma9g5b/effector-sprite.png");
	background-position: 0 -100px;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	top: 8px;
	width: 10px;
	height: 5px;
	display: block;
	opacity: 0.6
}

#notes-toggle.up .icon {
	background-position: 0 -105px
}

#notes {
	clear: both;
	border-top: 1px dashed #ddd;
	padding: 25px 30px 10px
}

#notes h2 {
	font-size: 20px;
	display: inline-block;
	padding-bottom: 20px
}

#notes h2 .sep {
	color: #E0E2E1;
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
	padding: 0 4px 0 10px
}

ol.notes a {
	border-bottom: 1px solid #fff;
	margin-top: -1px;
	padding: 1px 0
}

ol.notes li {
	font-family: Arial, Helvetica Neue, sans-serif;
	font-size: 12px;
	position: relative;
	border-bottom: 1px dotted #F0F0F0;
	padding: 7px 28px 7px 30px
}

ol.notes li:after {
	content: '\00a0';
	display: block;
	position: absolute;
	top: 11px;
	right: 0;
	width: 20px;
	height: 20px;
	background-image: url("http://static.tumblr.com/hugxd2w/YUsma9g5b/effector-sprite.png");
	background-repeat: no-repeat;
	opacity: 0.3
}

ol.notes li.reblog:after {
	background-position: -125px -50px
}

ol.notes li.like:after {
	background-position: -24px -50px
}

ol.notes li .avatar {
	position: absolute;
	left: 0;
	top: 8px
}

ol.notes li blockquote {
	border-left: 3px solid #f0f0f0;
	margin-top: 10px;
	padding: 2px 5px 2px 12px
}

ol.notes li blockquote a {
	color: #74787A
}

.more_notes_link_container {
	font-size: 13px
}

.more_notes_link {
	border: 0
}

.more_notes_link:hover {
	background: none
}

.post {
	position: relative;
	margin-bottom: 50px;
	word-wrap: break-word
}

.post img,.post iframe {
	max-width: 100%
}

.post .post-panel {
	background: #fff;
	-webkit-box-shadow: 0 0 0 4px rgba(0,0,0,0.03) inset,0 0 0 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 0 0 4px rgba(0,0,0,0.03) inset,0 0 0 1px rgba(0,0,0,0.15);
	box-shadow: 0 0 0 4px rgba(0,0,0,0.03) inset,0 0 0 1px rgba(0,0,0,0.15);
	position: relative
}

.post .post-shadow {
	background: url(http://static.tumblr.com/njty47g/yu0leufgq/post_shadow.png) left top no-repeat;
	width: 100%;
	height: 10px;
	display: block;
	position: absolute;
	left: 0;
	bottom: -10px;
	z-index: 2
}

.copy,.notes {
	color: #626566
}

.copy {
	padding-top: 30px;
	clear: both;
	word-wrap: break-word;
	margin: 0 30px
}

.copy .post-title {
	font-size: 22px;
	margin: 0 0 25px
}

.copy .post-title a:hover,.copy a:hover,ol.notes a:hover,#dsq-comments a:hover,#dsq-options a:hover {
	background-color: #fff7a5
}

.copy h1,.copy h2,.copy h3,.copy h4,.copy h5 {
	margin-bottom: 10px;
	margin-top: 25px
}

.copy h1:first-child,.copy h2:first-child,.copy h3:first-child,.copy h4:first-child,.copy h5:first-child {
	margin-top: 0
}

.copy h1,.auto-headings .copy p:first-child strong:first-child {
	font-size: 20px
}

.copy hr {
	background-color: #e0e2e1;
	border: 0;
	height: 1px;
	margin: 30px 0
}

.copy .lead {
	font-size: 20px;
	color: #A4A6A5;
	line-height: 1.4;
	font-weight: 300
}

.copy img {
	max-width: 100%;
	height: auto
}

.copy img[align=left] {
	margin: 0 20px 20px 0
}

.copy img[align=right] {
	margin: 0 0 20px 20px
}

.copy a {
	border-bottom: 1px solid #e0e2e1;
	margin-top: -1px;
	padding: 1px 0
}

.copy a:hover,ol.notes a:hover,#disqus a:hover {
	color: #131313
}

.copy ol {
	list-style-type: decimal;
	margin-left: 20px;
	list-style-position: outside
}

.copy ol li,.copy ul li {
	padding: 1px
}

.copy ol ol,.copy ul ul {
	margin-bottom: -1px;
	padding: 1px 0 0
}

.copy ol ol li {
	list-style-type: lower-alpha
}

.copy ol ol ol li {
	list-style-type: lower-roman
}

.copy ul li {
	padding-left: 20px
}

.copy ul li:before {
	content: "\25CF";
	font-weight: 400;
	padding-right: 10px;
	margin-left: -18px
}

.copy ul ul li:before {
	content: "\25CB"
}

.copy ul ul ul li:before {
	content: "\2014"
}

.copy blockquote {
	border-left: 3px solid #f0f0f0;
	padding-left: 15px
}

.copy blockquote p:last-child {
	padding-bottom: 0
}

.auto-headings .copy blockquote p:first-child strong:first-child {
	font-family: inherit;
	font-size: inherit
}

article .source {
	font-size: 11px;
	padding-top: 30px
}

article .copy+.source {
	padding-top: 0
}

.meta {
	font-family: Arial, Helvetica Neue, sans-serif;
	font-size: 11px;
	position: relative;
	clear: both;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #909090;
	margin: 0 30px 18px;
	padding: 20px 85px 0 0
}

.meta li {
	list-style: none outside none;
	float: left;
	position: relative;
	margin: 0 12px 4px 0
}

.meta .date a,.meta .notes a,.meta .comments a,.meta .permalink a {
	padding-left: 16px
}

.meta a {
	color: #909090;
	line-height: 16px;
	display: inline-block;
	position: relative;
	outline: none
}

.meta .icon {
	background: url("http://static.tumblr.com/hugxd2w/YUsma9g5b/effector-sprite.png") left top no-repeat;
	display: block;
	width: 12px;
	height: 16px;
	left: 0;
	opacity: 0.3
}

.meta a:hover {
	color: #131414
}

.meta a:hover .icon {
	opacity: 0.7
}

.meta .date {
	clear: left
}

.meta .date .icon {
	background-position: 0 -48px
}

.meta .notes .icon {
	background-position: -25px -48px
}

.meta .comments .icon {
	background-position: -50px -48px
}

.meta .permalink .icon {
	background-position: -75px -48px
}

.meta .tags .icon {
	background-position: -100px -48px
}

.meta .date-reblogged .icon {
	background-position: -125px -50px
}

.meta .date,.meta .date-reblogged {
	clear: left
}

.meta .date-reblogged a {
	padding-left: 18px
}

.meta .date-reblogged .icon {
	width: 14px
}

.meta .comments .icon {
	width: 13px
}

.meta .permalink .icon {
	width: 20px
}

.meta .date-reblogged em {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 11px;
	padding: 0 1px
}

.meta .date-reblogged .reblogged-from {
	padding-left: 0
}

.meta .post-author {
	margin-bottom: 7px
}

.meta .post-author img {
	vertical-align: top;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 13px;
	margin-right: 2px
}

.meta .permalink a {
	padding-left: 20px;
	text-indent: -999em
}

.meta .tags {
	display: block;
	float: none;
	margin: 0
}

.meta .tags a {
	color: #bbb
}

.meta .tags a:hover {
	color: #5a5a5a
}

article .share {
	position: absolute;
	right: 0;
	bottom: 3px
}

article .share .toggle {
	background: url("http://static.tumblr.com/hugxd2w/YUsma9g5b/effector-sprite.png") no-repeat;
	background-position: -25px -100px;
	color: #aaa;
	line-height: 23px;
	height: 23px;
	padding-left: 30px;
	outline: 0;
	display: block;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
	width: 40px;
	cursor: pointer
}

article .share .toggle.open {
	background-position: -175px -100px;
	color: #4E5251;
	text-shadow: 0 1px 0 #fff
}

article .share .widget {
	position: absolute;
	display: none;
	opacity: 0;
	filter: alpha(opacity=0);
	top: -5px;
	right: 0;
	z-index: 100;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.17),0 0 10px 2px rgba(0,0,0,0.11);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.17),0 0 10px 2px rgba(0,0,0,0.11);
	width: 270px;
	background: white
}

article .share .widget .short-link {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	padding: 15px;
	color: #999999
}

article .share .widget .short-link p {
	margin: 0
}

article .share .widget .short-link input {
	text-decoration: none;
	font-size: 15px;
	color: #444444;
	width: 100%;
	border: none;
	cursor: text
}

article .share .widget .share-links {
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	white-space: pre;
	width: 272px;
	margin-left: -1px
}

article .share .widget .share-links a {
	display: inline-block;
	width: 68px;
	height: 56px;
	background: url("http://static.tumblr.com/hugxd2w/23xma9g7c/sharebox-sprite.png") no-repeat;
	text-indent: -9999px
}

article .share .widget .share-links .share-twitter {
	background-position: 0 0;
	-webkit-border-radius: 0 0 0 3px;
	-moz-border-radius: 0 0 0 3px;
	border-radius: 0 0 0 3px
}

article .share .widget .share-links .share-twitter:hover {
	background-position: 0 -56px
}

article .share .widget .share-links .share-facebook {
	background-position: -68px 0
}

article .share .widget .share-links .share-facebook:hover {
	background-position: -68px -56px
}

article .share .widget .share-links .share-pinterest {
	background-position: -136px 0
}

article .share .widget .share-links .share-pinterest:hover {
	background-position: -136px -56px
}

article .share .widget .share-links .share-pinterest.disabled,article .share .widget .share-links .share-pinterest.disabled:hover {
	background-position: -136px -112px;
	cursor: default
}

article .share .widget .share-links .share-google {
	background-position: -204px 0;
	-webkit-border-radius: 0 0 3px 0;
	-moz-border-radius: 0 0 3px 0;
	border-radius: 0 0 3px 0
}

article .share .widget .share-links .share-google:hover {
	background-position: -204px -56px
}

.no-touch article .share .toggle:hover {
	background-position: -100px -100px;
	color: #4E5251;
	text-shadow: 0 1px 0 #fff
}

.no-touch article .share .toggle.open:hover {
	background-position: -175px -100px
}

.lt-ie9 article .share .widget {
	border: 1px solid #eee
}

.colored-panel {
	position: relative;
	-webkit-box-shadow: 0 0 0 5px rgba(0,0,0,0.06) inset,0 0 0 1px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0 0 0 5px rgba(0,0,0,0.06) inset,0 0 0 1px rgba(0,0,0,0.2) inset;
	box-shadow: 0 0 0 5px rgba(0,0,0,0.06) inset,0 0 0 1px rgba(0,0,0,0.2) inset;
	z-index: 2;
	padding: 24px 30px
}

.colored-panel a {
	border-bottom: 1px solid rgba(0,0,0,0.2);
	padding-bottom: 1px;
	margin-top: -1px
}

.not-found .copy {
	padding-bottom: 10px
}

.media {
	position: relative;
	z-index: 1
}

.type-photoset .post-panel {
	opacity: 0;
	filter: alpha(opacity=0)
}

.media img,.media object,.media embed,.media iframe {
	display: block;
	max-width: 100%
}

.type-photo,.type-photoset {
	border: 0;
	padding: 0
}

.type-photoset .slides {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	z-index: 4
}

.type-photoset .navi {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2
}

.type-photoset .navi a {
	position: absolute;
	top: 0;
	width: 25px;
	height: 100%;
	text-indent: -999em;
	display: block;
	overflow: hidden;
	outline: none
}

.type-photoset .navi span {
	background: url(http://static.tumblr.com/njty47g/ueileufha/photo_btns_navi.png);
	display: block;
	width: 7px;
	height: 9px;
	opacity: 0.55;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -5px 0 0 -3px
}

.type-photoset .next span {
	background-position: right bottom
}

.type-photoset .next:hover span {
	background-position: right top
}

.type-photoset .next:hover {
	-webkit-box-shadow: 2px 0 2px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 2px 0 2px rgba(0,0,0,0.1) inset;
	box-shadow: 2px 0 2px rgba(0,0,0,0.1) inset
}

.type-photoset .next {
	right: -25px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0
}

.type-photoset .prev:hover {
	-webkit-box-shadow: -2px 0 2px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: -2px 0 2px rgba(0,0,0,0.1) inset;
	box-shadow: -2px 0 2px rgba(0,0,0,0.1) inset
}

.type-photoset .prev {
	left: -25px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px
}

.type-photoset .loading {
	min-height: 300px
}

.photo-panel {
	width: 500px;
	position: relative;
	overflow: hidden;
	background: #000
}

.photo-panel img {
	width: auto;
	position: relative;
	z-index: 3;
	margin: 0 auto
}

.photo-panel .caption {
	background-color: rgba(23,25,26,0.8);
	color: #fff;
	width: 470px;
	line-height: 40px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 5;
	padding: 0 15px
}

.photo-btns {
	color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	margin-left: -100px;
	position: absolute;
	right: 13px;
	top: 20px;
	z-index: 5;
	display: none
}

.photo-btns a {
	background: url(http://static.tumblr.com/njty47g/x1Ild1iih/photo_btns_med.png) left top no-repeat;
	background-color: rgba(23,25,26,0.8);
	text-indent: -999em;
	width: 39px;
	height: 39px;
	display: inline-block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 0 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 0 0 3px rgba(0,0,0,0.15);
	box-shadow: 0 0 0 3px rgba(0,0,0,0.15);
	overflow: hidden;
	margin: 0 6px
}

.photo-btns .photo-url {
	background-position: 8px 10px
}

.photo-btns .photo-link-url {
	background-position: 7px -57px
}

.photo-btns .lightbox {
	background-position: 8px -120px
}

.type-video .loading,.type-photoset .loading {
	background-image: url(http://static.tumblr.com/njty47g/nr5lclanw/media_spinner_alt.gif);
	background-repeat: no-repeat;
	background-position: 10px 10px
}

.type-video .inner-border,.type-photo .inner-border,.type-photoset .inner-border {
	border-top: 0
}

.no-js .html_photoset .photoset_caption {
	background: #000;
	color: #fff;
	line-height: 40px;
	padding: 0 15px
}

.clearit:before,.clearit:after {
	content: "";
	display: table
}

.clearit:after {
	clear: both
}

.clearit {
	*zoom: 1
}

.photo-slideshow {
	background: black
}

.photo-slideshow .row {
	clear: both;
	width: 100%
}

.photo-slideshow .row:last-child {
	margin-bottom: 0!important
}

.photo-slideshow .photo {
	display: block;
	float: left;
	margin-bottom: 0;
	width: 100%
}

.photo-slideshow .photo img {
	width: 100%;
	height: auto;
	display: block;
}

.photo-slideshow .photo:first-child img {
	margin-left: 0
}

.photo-slideshow .count-1 {
	width: 100%
}

.photo-slideshow .count-2 {
	width: 50%
}

.photo-slideshow .count-3 {
	width: 33.3%
}

.photo-slideshow .count-3:first-child {
	width: 33.4%
}

.photo-slideshow .count-4 {
	width: 25%
}

.photo-slideshow .count-5 {
	width: 20%
}

.photo-slideshow .info {
	display: none
}

.photo-data {
	position: relative;
	float: left
}

.photo {
	overflow: hidden
}

.icons {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 20px;
	height: 66px;
	text-indent: -9999px;
	z-index: 999;
	visibility: hidden
}

.icons>span,.icons .view span {
	width: 20px;
	height: 20px;
	display: block;
	margin-bottom: 2px;
	cursor: pointer
}

.zoom {
	background: url("http://static.tumblr.com/hugxd2w/kgem0so9j/zoom-icon.png")
}

.info {
	background: url("http://static.tumblr.com/hugxd2w/ffwm0so9t/info-icon.png");
	position: relative
}

.pxu-data {
	position: absolute;
	top: 30px;
	left: -110px;
	width: 240px;
	background: #000;
	background: rgba(0,0,0,0.85);
	color: #fff;
	font-size: 12px;
	line-height: 1.4;
	text-indent: 0;
	padding: 20px;
	display: none;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-box-shadow: 2px 2px 7px rgba(0,0,0,0.55);
	box-shadow: 2px 2px 7px rgba(0,0,0,0.55);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.pxu-caption {
	margin-top: 0;
	word-wrap: break-word
}

.pxu-caption:before {
	content: url("http://static.tumblr.com/hugxd2w/SSBm6wxmm/caption-icon.png");
	opacity: 0.5;
	filter: alpha(opacity=50);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	float: left;
	margin-right: 5px
}

.pxu-data.caption-only .pxu-caption {
	margin-bottom: 0
}

.pxu-data table {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: bold;
	width: 100%
}

.pxu-data table tr {
	width: 100%
}

.pxu-data table tr td {
	width: 50%;
	font-weight: bold;
	padding-bottom: 15px
}

.pxu-data table tr:last-child td {
	padding-bottom: 0
}

.pxu-data .label {
	color: #cccccc;
	text-transform: uppercase;
	font-size: 10px;
	text-align: right;
	padding-right: 12px;
	font-weight: normal
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgba(0,0,0,0.85);
	position: absolute;
	top: -10px;
	left: 110px
}

.type-audio .colored-panel {
	position: relative;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding: 27px 30px 30px
}

.type-audio .album-case,.type-audio .player-btn,.type-audio .track-info:before,.type-audio .download {
	background-image: url("http://static.tumblr.com/hugxd2w/4Q3ma9ec7/audioplayer.png");
	background-repeat: no-repeat
}

.type-audio .download {
	background-position: right bottom;
	width: 36px;
	height: 36px;
	text-indent: -999em;
	border: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	display: block;
	margin: 0;
	padding: 0
}

.type-audio .player-container {
	width: 120px;
	height: 109px;
	float: left;
	position: relative;
	z-index: 3;
	margin: 0 20px 0 0
}

.type-audio .player-container .album-art {
	background-image: url("http://static.tumblr.com/hugxd2w/YUsma9g5b/effector-sprite.png");
	background-repeat: no-repeat;
	background-position: 0 -150px;
	width: 109px;
	height: 109px;
	position: absolute;
	right: 0;
	top: 0
}

.type-audio .player-container .album-art img {
	width: 100%;
	height: 100%
}

.type-audio .player-container .album-case {
	width: 12px;
	height: 109px;
	background-position: 0 0;
	position: absolute;
	left: 0;
	top: 0
}

.type-audio .player-container .player-btn {
	background-position: -37px -27px;
	width: 54px;
	height: 56px;
	position: relative;
	margin: 27px 0 0 36px
}

.type-audio .player-container .player-btn .audio_player {
	width: 20px;
	height: 19px;
	overflow: hidden;
	position: relative;
	padding: 14px 0 3px 13px
}

.type-audio .audio-meta {
	background-color: rgba(0,0,0,0.06);
	background-image: url(http://static.tumblr.com/xgwqnql/6rolbpg06/wave_form.png);
	background-position: 25px 15px;
	background-repeat: no-repeat;
	overflow: hidden;
	min-height: 69px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 20px 25px
}

.type-audio .audio-meta .plays {
	font-size: 12px
}

.type-audio .audio-meta .plays .count {
	font-size: 12px;
	display: inline
}

.type-audio .audio-meta .track-info .artist {
	font-size: 14px
}

.type-audio .audio-meta .title {
	font-size: 20px;
	font-weight: 500
}

.type-audio .spotify iframe {
	display: block
}

.corners span {
	display: block;
	position: absolute;
	width: 0;
	height: 0
}

.corners .tl {
	left: 0;
	top: 0;
	border-bottom: 2px solid transparent;
	border-left: 2px solid
}

.corners .tr {
	top: 0;
	right: 0;
	border-bottom: 2px solid transparent;
	border-right: 2px solid
}

.corners .bl {
	bottom: 0;
	left: 0;
	border-bottom: 2px solid;
	border-right: 2px solid transparent
}

.corners .br {
	bottom: 0;
	right: 0;
	border-bottom: 2px solid;
	border-left: 2px solid transparent
}

.type-quote .colored-panel {
	padding-bottom: 40px
}

.type-quote .quote-text {
	border-left: 0;
	font-size: 20px;
	font-family: georgia, serif;
	font-style: italic;
	line-height: 28px;
	padding: 0
}

.type-quote .quote-text span.ldquo,.type-quote .quote-text span.rdquo {
	font-size: 48px;
	font-weight: 400;
	position: relative
}

.type-quote .quote-text span.ldquo {
	margin-left: -4px;
	padding-right: 5px;
	top: 10px
}

.type-quote .quote-text span.rdquo {
	font-size: 28px;
	line-height: 23px;
	left: 0;
	top: 3px
}

.type-chat .chat li {
	font-size: 13px;
	border-bottom: 1px dashed #ccc;
	padding: 8px 12px
}

.type-chat .chat li:before {
	content: "";
	display: none;
	margin: 0;
	padding: 0
}

.type-chat .chat .speaker {
	font-size: 14px;
	font-weight: 700;
	margin-right: 3px
}

.type-chat .chat .even {
	background-color: #fffdf0
}

.type-link .post-title a {
	background-color: #F5FAF9;
	display: block;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 15px 5px 38px
}

.type-link .post-title a .icon {
	background: url("http://static.tumblr.com/hugxd2w/YUsma9g5b/effector-sprite.png");
	background-position: -175px 0;
	background-repeat: no-repeat;
	left: 10px;
	top: 9px;
	width: 17px;
	height: 20px;
	display: block
}

.type-link .post-title a:hover {
	color: #3C4042
}

.type-answer .colored-panel {
	padding: 24px 30px 30px 64px
}

.type-answer h2.user-question {
	font-family: georgia, serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	word-wrap: break-word;
	margin: 0
}

.type-answer h2.user-question span {
	font-style: italic;
	font-weight: 700;
	position: absolute;
	left: 25px;
	top: 25px
}

.type-answer .question-asker {
	font-size: 17px;
	padding: 0 0 20px 2px
}

.type-answer .question-asker img {
	display: inline;
	vertical-align: middle;
	margin: 0 10px 0 0
}

.type-answer .answer {
	padding-top: 20px;
	border-top: 1px solid #e0e2e1
}

.quote-nipple {
	background: url(http://static.tumblr.com/njty47g/s9Nleufi1/quote_nipple.png) right top no-repeat;
	width: 34px;
	height: 22px;
	position: absolute;
	left: 30px;
	top: -18px
}

#fancybox-title {
	font-size: 16px!important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
	text-align: left;
	padding-left: 20px!important
}

#disqus {
	font-family: "Helvetica Neue" ,Arial,Helvetica,sans-serif;
	border-top: 1px dashed #ddd;
	padding: 25px 30px
}

#disqus h2 {
	font-size: 20px;
	padding-bottom: 20px
}

#dsq-content {
	font-size: 13px!important
}

#dsq-content h3 {
	font-size: 16px;
	padding-bottom: 10px
}

#infscr-loading {
	color: #333;
	background: none repeat scroll 0 0 #fff;
	bottom: 30px;
	right: 30px;
	position: fixed;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.08);
	-moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.08);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.08);
	opacity: 0.8;
	padding: 5px
}

#infscr-loading div {
	padding: 0 5px
}

.page-sep {
	color: rgba(0,0,0,0.75);
	border-bottom: 3px solid rgba(0,0,0,0.1);
	font-weight: 700;
	font-size: 20px;
	margin: 50px 0;
	padding: 10px 0
}

.content-600 .banner img {
	max-width: 860px
}

.content-600 .photo-panel .caption {
	width: 570px
}

.content-600 #page,.content-600 .inner {
	width: 860px
}

.content-600 .post .post-shadow {
	background-position: left center
}

.content-600 #likes {
	margin-left: -20px
}

.content-600 #likes .like_post {
	width: 156px;
	margin-left: 20px
}

.content-600 #likes .like_post img {
	width: 146px
}

.content-700 .banner img {
	max-width: 940px
}

.content-700 .photo-panel .caption {
	width: 670px
}

.content-700 #page,.content-700 .inner {
	width: 940px
}

.content-700 .type-audio .player-container .player-btn {
	margin: 26px 0 0 168px
}

.content-700 .type-audio .audio-meta .plays {
	float: left;
	width: 90px;
	padding-left: 70px
}

.content-700 .type-audio .audio-meta .plays .count {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	display: block;
	padding: 0
}

.content-700 .type-audio .audio-meta .plays,.content-700 .type-audio .audio-meta .track-info {
	font-size: 15px;
	margin-top: 9px
}

.content-700 .type-audio .audio-meta .track-info {
	width: 225px;
	min-height: 45px;
	float: right;
	padding: 0 0 0 56px;
	position: relative
}

.content-700 .type-audio .audio-meta .track-info:before {
	width: 56px;
	height: 56px;
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	background-position: -120px 0
}

.content-700 .type-audio .audio-meta .title {
	font-size: 20px;
	line-height: 1.2
}

.content-700 #likes .like_post {
	width: 168px;
	margin-left: 25px
}

.content-700 #likes .like_post img {
	width: 156px
}

.round-corners .post-panel {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

.round-corners .type-answer .post-panel,.round-corners .type-audio .post-panel,.round-corners .type-video .post-panel,.round-corners .type-photo .post-panel,.round-corners .type-quote .post-panel,.round-corners .type-photoset .post-panel {
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px
}

.round-corners .colored-panel {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0
}

.menu-labels .menu {
	padding-top: 15px
}

.menu-labels .menu .label {
	display: block;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
}

.menu-labels .menu .icon {
	position: absolute;
	left: 0;
	top: 1px
}

.menu-labels .menu a {
	padding-left: 24px;
	margin-left: 18px
}

.menu-labels .menu .rss {
	padding-left: 22px
}

.menu-labels .menu .ask {
	padding-left: 23px
}

.left-sidebar #content {
	float: right
}

.left-sidebar #infscr-loading {
	right: auto;
	left: 30px
}

.content-500 .right-sidebar #content,.content-600 .right-sidebar #content {
	margin-right: 80px
}

.content-700 .right-sidebar #content {
	margin-right: 60px
}

.content-500 .left-sidebar #content,.content-600 .left-sidebar #content {
	margin-left: 80px
}

.content-700 .left-sidebar #content {
	margin-left: 60px
}

.blog-title a,#sidebar h2,#footer h2,#footer-end a,.pages a,.menu a,.more-likes,.like_link a {
	color: rgba(0,0,0,0.75)
}

.invert #socialize a {
	background-image: url("http://static.tumblr.com/hugxd2w/lntma0bbl/social-icons-white.png")
}

.invert .ruled-top,.invert .page-sep,.invert #likes .like_post blockquote,.invert #footer-links li {
	border-color: rgba(255,255,255,0.1)
}

.invert .pinned .inner {
	border-color: rgba(255,255,255,0.15)
}

.invert .pinned .archives .icon,.invert-topbar .fixed .archives .icon {
	background-position: -25px 0
}

.invert .pinned .rss .icon,.invert-topbar .fixed .rss .icon {
	background-position: -50px 0
}

.invert .pinned .ask .icon,.invert-topbar .fixed .ask .icon {
	background-position: -100px 0
}

.invert .pinned .pages a,.invert #sidebar .pages a,.invert .more-likes,.invert .like_link a,.invert #pagination .nextprev a {
	background: rgba(255,255,255,0.05)
}

.invert .type-photoset .prev span {
	background-position: left top;
	opacity: 0.6
}

.invert .type-photoset .next span {
	background-position: right top;
	opacity: 0.6
}

.invert .colored-panel {
	-webkit-box-shadow: 0 0 0 5px rgba(0,0,0,0.06) inset,0 0 0 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 0 5px rgba(0,0,0,0.06) inset,0 0 0 1px rgba(0,0,0,0.2);
	box-shadow: 0 0 0 5px rgba(0,0,0,0.06) inset,0 0 0 1px rgba(0,0,0,0.2)
}

.invert #twitter .tweets li,.invert #twitter .profile,.invert #sidebar #likes .like_post {
	border-bottom-color: rgba(255,255,255,0.2)
}

.invert-topbar .fixed .blog-title a,.invert-topbar .fixed .blog-title a:hover,.invert-topbar .fixed .menu a:hover {
	color: #fff
}

.invert-topbar .fixed .pages a {
	color: rgba(255,255,255,0.8);
	background-color: rgba(255,255,255,0.05)
}

.invert-topbar .fixed .menu a {
	color: rgba(255,255,255,0.8)
}

.invert-topbar .fixed {
	background-position: left bottom;
	padding-bottom: 1px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.ie7 .photo-btns a {
	text-indent: 0;
	line-height: 0;
	font-size: 0
}

.ie7 #search-form span {
	top: 1px
}

.ie7 img {
	-ms-interpolation-mode: bicubic
}

.ie7 #footer,.ie7 #footer #footer-end,.ie7 #sidebar #socialize,.ie7 .meta,.ie7 .meta-list,.ie7 .media,.ie7 .photoset-panel,.ie7 .post-panel,.ie7 .post-shadow {
	zoom: 1
}

.lte-ie8 #sidebar .pages a {
	padding-left: 0;
	padding-right: 0
}

.lte-ie8 #header .pages {
	margin-left: -5px
}

.lte-ie8 #header .pages a {
	padding-left: 5px;
	padding-right: 5px
}

h1,.content-600 .copy .post-title,.content-700 .copy .post-title {
	font-size: 24px
}

strong,.not-found .search_query {
	font-weight: 700
}

.hidden,#likes .like_title,.no-js #notes-toggle,.no-js #notes h2 .sep,.js .loading .photo-panel,.js .loading .html_photoset,.js .infscroll #footer {
	display: none
}

.clearfix,html[xmlns] .clearfix,#followed-list img,.type-audio .audio-meta .track-info span,#infscr-loading img {
	display: block
}

.menu a:hover .icon,#pagination .nextprev a span,#notes-toggle:hover .icon,.type-photoset .navi a:hover span,.photo-btns a:hover,.type-link .post-title a:hover .icon,.invert #infscr-loading {
	opacity: 1
}

.menu a:active,#socialize a:active {
	position: relative;
	top: 1px
}

#search-form input:focus,.type-chat .chat .even .speaker {
	color: #444
}

.side-box li,.lte-ie8 #sidebar .pages li {
	padding: 3px 0
}

#sidebar #blog-info>:last-child,#sidebar #likes li:last-child,#sidebar #likes .last {
	margin-bottom: 0
}

#sidebar .blog-title,#sidebar .description,.copy p,.copy ul,.copy ol,.copy img,.copy blockquote {
	margin-bottom: 20px
}

#sidebar .description p:last-child,.copy p img:last-child,.source p,.no-js .html_photoset p {
	margin: 0
}

.menu-left .menu,.right-sidebar #content {
	float: left
}

#twitter .tweets li:first-child,#sidebar #likes .like_post:first-child {
	padding-top: 0
}

#likes,.content-700 #likes {
	margin-left: -25px
}

#sidebar #likes .post_info_bottom,.copy .post-title a {
	border: 0;
	margin: 0
}

.invert .pinned .submit .icon,.invert-topbar .fixed .submit .icon {
	background-position: -75px 0
}

ol.notes,.infscroll #content {
	padding-bottom: 20px
}

.type-photoset .prev span,.content-700 .post .post-shadow {
	background-position: left bottom
}

.type-photoset .prev:hover span,.invert .pinned .random .icon,.invert-topbar .fixed .random .icon {
	background-position: left top
}

.type-photoset .photo-panel img,.no-js .loading {
	height: auto
}

.js .loading object,.js .loading embed,.js .loading iframe,.js .infscroll #pagination {
	visibility: hidden
}

.scale-images .photo-panel img {
	width: 100%
}

.content-600 .photo-panel,.content-600 #content {
	width: 600px
}

.content-600 .banner .blog-title,.content-700 .banner .blog-title {
	font-size: 48px
}

.content-700 .photo-panel,.content-700 #content {
	width: 700px
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

.content-500 #header,.content-600 #header,.content-700 #header {
	position: relative;
	margin-bottom: 30px;
	height: auto;
	top: auto;
	left: auto;
	padding-top: 20px
}

.content-500 #header:after,.content-600 #header:after,.content-700 #header:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}

.content-500 #header .inner,.content-600 #header .inner,.content-700 #header .inner {
	width: 90%;
	padding: 0 5% 5%;
	height: auto
}

.content-500 #page,.content-600 #page,.content-700 #page {
	width: 728px;
	padding: 0 20px
}

.content-500 #page .banner img,.content-500 #page .banner a,.content-600 #page .banner img,.content-600 #page .banner a,.content-700 #page .banner img,.content-700 #page .banner a {
	display: block
}

.content-500 #page .banner img,.content-600 #page .banner img,.content-700 #page .banner img {
	width: 100%
}

.content-500 #page #content,.content-600 #page #content,.content-700 #page #content {
	width: 500px;
	margin-right: 40px
}

.content-500 #page.left-sidebar #content,.content-600 #page.left-sidebar #content,.content-700 #page.left-sidebar #content {
	margin-right: 0;
	margin-left: 40px
}

.content-500 .type-photo .photo-panel,.content-600 .type-photo .photo-panel,.content-700 .type-photo .photo-panel {
	width: 100%
}

.content-500 .type-photoset .photo-panel,.content-600 .type-photoset .photo-panel,.content-700 .type-photoset .photo-panel {
	width: 500px
}

.content-500 article .photo-panel img,.content-600 article .photo-panel img,.content-700 article .photo-panel img {
	max-width: 100%
}

.content-500 article.type-audio .player-container .player-btn,.content-600 article.type-audio .player-container .player-btn,.content-700 article.type-audio .player-container .player-btn {
	margin: 27px 0 0 36px
}

.content-500 article.type-audio .audio-meta .plays,.content-600 article.type-audio .audio-meta .plays,.content-700 article.type-audio .audio-meta .plays {
	float: none;
	width: auto;
	padding-left: 0;
	font-size: 12px;
	margin-top: 0
}

.content-500 article.type-audio .audio-meta .plays .count,.content-600 article.type-audio .audio-meta .plays .count,.content-700 article.type-audio .audio-meta .plays .count {
	font-size: 12px;
	font-weight: 200;
	line-height: 1;
	display: inline;
	padding: 0
}

.content-500 article.type-audio .audio-meta .track-info,.content-600 article.type-audio .audio-meta .track-info,.content-700 article.type-audio .audio-meta .track-info {
	font-size: 14px;
	margin-top: 0;
	width: auto;
	min-height: 45px;
	float: none;
	padding: 0 0 0 0;
	position: relative
}

.content-500 article.type-audio .audio-meta .track-info:before,.content-600 article.type-audio .audio-meta .track-info:before,.content-700 article.type-audio .audio-meta .track-info:before {
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	background: none
}

.content-500 article.type-audio .audio-meta .title,.content-600 article.type-audio .audio-meta .title,.content-700 article.type-audio .audio-meta .title {
	font-size: 20px;
	font-weight: 500;
	line-height: 32px
}

.content-500 article.type-photoset .navi,.content-600 article.type-photoset .navi,.content-700 article.type-photoset .navi {
	z-index: 10
}

.content-500 article.type-photoset .navi a,.content-600 article.type-photoset .navi a,.content-700 article.type-photoset .navi a {
	top: 50%;
	margin-top: -20px;
	height: 40px;
	background: white;
	width: 20px
}

.content-500 article.type-photoset .navi a:hover,.content-600 article.type-photoset .navi a:hover,.content-700 article.type-photoset .navi a:hover {
	background-color: #fff
}

.content-500 article.type-photoset .navi span,.content-600 article.type-photoset .navi span,.content-700 article.type-photoset .navi span {
	opacity: 1
}

.content-500 article.type-photoset .navi .next,.content-600 article.type-photoset .navi .next,.content-700 article.type-photoset .navi .next {
	right: 0;
	border-radius: 5px 0 0 5px
}

.content-500 article.type-photoset .navi .next:hover span,.content-600 article.type-photoset .navi .next:hover span,.content-700 article.type-photoset .navi .next:hover span {
	background-position: right bottom
}

.content-500 article.type-photoset .navi .prev,.content-600 article.type-photoset .navi .prev,.content-700 article.type-photoset .navi .prev {
	left: 0;
	border-radius: 0 5px 5px 0
}

.content-500 article.type-photoset .navi .prev:hover span,.content-600 article.type-photoset .navi .prev:hover span,.content-700 article.type-photoset .navi .prev:hover span {
	background-position: left bottom
}

.content-500 #footer #likes,.content-600 #footer #likes,.content-700 #footer #likes {
	margin-left: 0
}

.content-500 #footer #likes .like_post,.content-600 #footer #likes .like_post,.content-700 #footer #likes .like_post {
	width: 170px;
	margin-left: 16px
}

.content-500 #footer #likes .like_post:first-child,.content-600 #footer #likes .like_post:first-child,.content-700 #footer #likes .like_post:first-child {
	margin-left: 0
}

.content-500 #footer #likes .like_audio_post .like_post_body,.content-600 #footer #likes .like_audio_post .like_post_body,.content-700 #footer #likes .like_audio_post .like_post_body {
	margin-top: 0!important
}

.content-500 #footer #likes .like_audio_post .post_info_bottom,.content-600 #footer #likes .like_audio_post .post_info_bottom,.content-700 #footer #likes .like_audio_post .post_info_bottom {
	padding-top: 2px
}

.content-500 #footer #likes .like_audio_post .like_post_body+.post_info_bottom,.content-600 #footer #likes .like_audio_post .like_post_body+.post_info_bottom,.content-700 #footer #likes .like_audio_post .like_post_body+.post_info_bottom {
	padding-top: 5px
}

.content-500 #footer #likes .like_audio,.content-600 #footer #likes .like_audio,.content-700 #footer #likes .like_audio {
	display: none
}

}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

#tumblr_controls {
	width: 300px
}

.content-500 #header,.content-600 #header,.content-700 #header {
	position: relative;
	margin-bottom: 30px;
	height: auto;
	top: auto;
	left: auto;
	padding-top: 20px
}

.content-500 #header:after,.content-600 #header:after,.content-700 #header:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}

.content-500 #header .inner,.content-600 #header .inner,.content-700 #header .inner {
	width: 90%;
	padding: 0 5% 5%;
	height: auto
}

.content-500 #header .logo,.content-600 #header .logo,.content-700 #header .logo {
	float: none;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	margin-right: 0;
	display: block
}

.content-500 #header .blog-title,.content-600 #header .blog-title,.content-700 #header .blog-title {
	float: none;
	text-align: center;
	padding: 0;
	font-size: 2em;
	margin-top: 10px;
	clear: both
}

.content-500 #header .menu,.content-500 #header .pages,.content-600 #header .menu,.content-600 #header .pages,.content-700 #header .menu,.content-700 #header .pages {
	display: none
}

.content-500 #header #search,.content-600 #header #search,.content-700 #header #search {
	margin: 20px auto 0;
	padding: 0;
	float: none
}

.content-500 #page,.content-600 #page,.content-700 #page {
	width: 90%;
	padding: 0 5%
}

.content-500 #page .banner img,.content-500 #page .banner a,.content-600 #page .banner img,.content-600 #page .banner a,.content-700 #page .banner img,.content-700 #page .banner a {
	display: block
}

.content-500 #page .banner img,.content-600 #page .banner img,.content-700 #page .banner img {
	width: 100%
}

.content-500 #page #content,.content-600 #page #content,.content-700 #page #content {
	width: 100%;
	margin-right: 0
}

.content-500 .type-photo .photo-panel,.content-600 .type-photo .photo-panel,.content-700 .type-photo .photo-panel {
	width: 100%
}

.content-500 .type-photoset .photo-panel,.content-600 .type-photoset .photo-panel,.content-700 .type-photoset .photo-panel {
	width: 288px
}

.content-500 .type-photoset .photo-panel img,.content-600 .type-photoset .photo-panel img,.content-700 .type-photoset .photo-panel img {
	width: 100%
}

.content-500 article .photo-panel img,.content-600 article .photo-panel img,.content-700 article .photo-panel img {
	max-width: 100%
}

.content-500 article .copy,.content-500 article .copy.source,.content-600 article .copy,.content-600 article .copy.source,.content-700 article .copy,.content-700 article .copy.source {
	margin: 0 15px 10px;
	padding-top: 20px
}

.content-500 article .copy p,.content-500 article .copy.source p,.content-600 article .copy p,.content-600 article .copy.source p,.content-700 article .copy p,.content-700 article .copy.source p {
	margin-bottom: 10px
}

.content-500 article.type-photoset .navi,.content-600 article.type-photoset .navi,.content-700 article.type-photoset .navi {
	z-index: 10
}

.content-500 article.type-photoset .navi a,.content-600 article.type-photoset .navi a,.content-700 article.type-photoset .navi a {
	top: 50%;
	margin-top: -20px;
	height: 40px;
	background: white;
	width: 20px
}

.content-500 article.type-photoset .navi a:hover,.content-600 article.type-photoset .navi a:hover,.content-700 article.type-photoset .navi a:hover {
	background-color: #fff
}

.content-500 article.type-photoset .navi span,.content-600 article.type-photoset .navi span,.content-700 article.type-photoset .navi span {
	opacity: 1
}

.content-500 article.type-photoset .navi .next,.content-600 article.type-photoset .navi .next,.content-700 article.type-photoset .navi .next {
	right: 0;
	border-radius: 5px 0 0 5px
}

.content-500 article.type-photoset .navi .next:hover span,.content-600 article.type-photoset .navi .next:hover span,.content-700 article.type-photoset .navi .next:hover span {
	background-position: right bottom
}

.content-500 article.type-photoset .navi .prev,.content-600 article.type-photoset .navi .prev,.content-700 article.type-photoset .navi .prev {
	left: 0;
	border-radius: 0 5px 5px 0
}

.content-500 article.type-photoset .navi .prev:hover span,.content-600 article.type-photoset .navi .prev:hover span,.content-700 article.type-photoset .navi .prev:hover span {
	background-position: left bottom
}

.content-500 article .video_placeholder,.content-600 article .video_placeholder,.content-700 article .video_placeholder {
	width: 100%!important
}

.content-500 article .meta,.content-600 article .meta,.content-700 article .meta {
	margin: 0 15px 10px;
	padding: 15px 0 0 0
}

.content-500 article .meta .meta-list,.content-600 article .meta .meta-list,.content-700 article .meta .meta-list {
	padding-right: 65px
}

.content-500 article .share .widget,.content-600 article .share .widget,.content-700 article .share .widget {
	right: -6px
}

.content-500 .type-audio .player-btn,.content-600 .type-audio .player-btn,.content-700 .type-audio .player-btn {
	margin-left: 147px
}

.content-500 .type-audio .player-container,.content-600 .type-audio .player-container,.content-700 .type-audio .player-container {
	margin-bottom: 15px;
	width: 228px;
	height: 209px
}

.content-500 .type-audio .player-container .album-case,.content-600 .type-audio .player-container .album-case,.content-700 .type-audio .player-container .album-case {
	width: 42px;
	height: 207px;
	background: url("http://static.tumblr.com/hugxd2w/yhJmavcvf/iphone-album.png") no-repeat;
	background-size: 228px 207px
}

.content-500 .type-audio .player-container .album-art,.content-600 .type-audio .player-container .album-art,.content-700 .type-audio .player-container .album-art {
	width: 207px;
	height: 207px;
	background: url("http://static.tumblr.com/hugxd2w/yhJmavcvf/iphone-album.png") -21px 0 no-repeat;
	background-size: 228px 207px
}

.content-500 .type-audio .audio-meta .plays,.content-600 .type-audio .audio-meta .plays,.content-700 .type-audio .audio-meta .plays {
	float: none;
	width: auto;
	padding-left: 0;
	font-size: 12px;
	margin-top: 0
}

.content-500 .type-audio .audio-meta .count,.content-600 .type-audio .audio-meta .count,.content-700 .type-audio .audio-meta .count {
	font-size: 12px;
	font-weight: 200;
	line-height: 1;
	display: inline;
	padding: 0
}

.content-500 .type-audio .audio-meta .track-info,.content-600 .type-audio .audio-meta .track-info,.content-700 .type-audio .audio-meta .track-info {
	font-size: 14px;
	margin-top: 0;
	width: auto;
	min-height: 45px;
	float: none;
	padding: 0 0 0 0;
	position: relative
}

.content-500 .type-audio .audio-meta .track-info:before,.content-600 .type-audio .audio-meta .track-info:before,.content-700 .type-audio .audio-meta .track-info:before {
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	background: none
}

.content-500 .type-audio .audio-meta .title,.content-600 .type-audio .audio-meta .title,.content-700 .type-audio .audio-meta .title {
	font-size: 20px;
	font-weight: 500;
	line-height: 32px
}

.content-500 .type-audio .audio-meta,.content-600 .type-audio .audio-meta,.content-700 .type-audio .audio-meta {
	clear: both;
	width: auto;
	padding: 10px
}

.content-500 .type-audio .audio-meta .plays,.content-600 .type-audio .audio-meta .plays,.content-700 .type-audio .audio-meta .plays {
	float: none;
	padding: 0;
	margin-top: 0;
	margin-left: 0
}

.content-500 .type-audio .audio-meta .plays .count,.content-600 .type-audio .audio-meta .plays .count,.content-700 .type-audio .audio-meta .plays .count {
	display: inline;
	font-size: 14px
}

.content-500 .type-audio .audio-meta .track-info,.content-600 .type-audio .audio-meta .track-info,.content-700 .type-audio .audio-meta .track-info {
	width: auto;
	float: none
}

.content-500 .type-audio .audio-meta .track-info .title,.content-600 .type-audio .audio-meta .track-info .title,.content-700 .type-audio .audio-meta .track-info .title {
	font-size: 16px
}

.content-500 #pagination,.content-600 #pagination,.content-700 #pagination {
	margin-bottom: 50px
}

.content-500 #pagination .current-page,.content-600 #pagination .current-page,.content-700 #pagination .current-page {
	float: none;
	margin-bottom: 15px;
	text-align: center
}

.content-500 #pagination .nextprev,.content-600 #pagination .nextprev,.content-700 #pagination .nextprev {
	float: none
}

.content-500 #pagination .nextprev a,.content-600 #pagination .nextprev a,.content-700 #pagination .nextprev a {
	padding: 0;
	color: rgba(0,0,0,0.75);
	background: none
}

.content-500 #pagination .nextprev a span,.content-600 #pagination .nextprev a span,.content-700 #pagination .nextprev a span {
	color: rgba(0,0,0,0.75);
	background: rgba(0,0,0,0.05);
	border-radius: 3px
}

.content-500 #pagination .nextprev span.sep,.content-600 #pagination .nextprev span.sep,.content-700 #pagination .nextprev span.sep {
	display: none
}

.content-500 #pagination .nextprev a:first-child span,.content-600 #pagination .nextprev a:first-child span,.content-700 #pagination .nextprev a:first-child span {
	text-align: left
}

.content-500 #pagination .nextprev span,.content-600 #pagination .nextprev span,.content-700 #pagination .nextprev span {
	width: 123px;
	padding: 5px 8px;
	float: left;
	text-align: right;
	margin-left: 5px
}

.content-500 #pagination .nextprev span:first-child,.content-600 #pagination .nextprev span:first-child,.content-700 #pagination .nextprev span:first-child {
	text-align: left;
	margin-left: 0;
	margin-right: 5px
}

.content-500 #pagination .nextprev a.next span,.content-600 #pagination .nextprev a.next span,.content-700 #pagination .nextprev a.next span {
	text-align: right;
	margin-right: 0;
	margin-left: 5px
}

.content-500 #pagination .nextprev a.prev span,.content-600 #pagination .nextprev a.prev span,.content-700 #pagination .nextprev a.prev span {
	margin-left: 0
}

.content-500 #sidebar,.content-600 #sidebar,.content-700 #sidebar {
	width: 100%;
	float: none;
	margin-bottom: 0
}

.content-500 #sidebar .large-portrait,.content-600 #sidebar .large-portrait,.content-700 #sidebar .large-portrait {
	max-width: 100%;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.content-500 #sidebar #tabs #tabs-nav h2,.content-600 #sidebar #tabs #tabs-nav h2,.content-700 #sidebar #tabs #tabs-nav h2 {
	width: 49%
}

.content-500 #sidebar #instagram #instagram-photos img,.content-600 #sidebar #instagram #instagram-photos img,.content-700 #sidebar #instagram #instagram-photos img {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}

.content-500 #likes,.content-500 #sidebar #likes,.content-600 #likes,.content-600 #sidebar #likes,.content-700 #likes,.content-700 #sidebar #likes {
	margin-left: 0
}

.content-500 #likes .like_post,.content-500 #sidebar #likes .like_post,.content-600 #likes .like_post,.content-600 #sidebar #likes .like_post,.content-700 #likes .like_post,.content-700 #sidebar #likes .like_post {
	float: none;
	width: 100%;
	margin-left: 0;
	margin-bottom: 20px
}

.content-500 #likes .like_post img,.content-500 #sidebar #likes .like_post img,.content-600 #likes .like_post img,.content-600 #sidebar #likes .like_post img,.content-700 #likes .like_post img,.content-700 #sidebar #likes .like_post img {
	width: 278px
}

.content-500 #likes .like_audio_post .like_post_body,.content-500 #sidebar #likes .like_audio_post .like_post_body,.content-600 #likes .like_audio_post .like_post_body,.content-600 #sidebar #likes .like_audio_post .like_post_body,.content-700 #likes .like_audio_post .like_post_body,.content-700 #sidebar #likes .like_audio_post .like_post_body {
	margin-top: 0!important
}

.content-500 #likes .like_audio_post .post_info_bottom,.content-500 #sidebar #likes .like_audio_post .post_info_bottom,.content-600 #likes .like_audio_post .post_info_bottom,.content-600 #sidebar #likes .like_audio_post .post_info_bottom,.content-700 #likes .like_audio_post .post_info_bottom,.content-700 #sidebar #likes .like_audio_post .post_info_bottom {
	padding-top: 2px
}

.content-500 #likes .like_audio_post .like_post_body+.post_info_bottom,.content-500 #sidebar #likes .like_audio_post .like_post_body+.post_info_bottom,.content-600 #likes .like_audio_post .like_post_body+.post_info_bottom,.content-600 #sidebar #likes .like_audio_post .like_post_body+.post_info_bottom,.content-700 #likes .like_audio_post .like_post_body+.post_info_bottom,.content-700 #sidebar #likes .like_audio_post .like_post_body+.post_info_bottom {
	padding-top: 5px
}

.content-500 #likes .like_audio,.content-500 #sidebar #likes .like_audio,.content-600 #likes .like_audio,.content-600 #sidebar #likes .like_audio,.content-700 #likes .like_audio,.content-700 #sidebar #likes .like_audio {
	display: none
}

.content-500 #footer,.content-600 #footer,.content-700 #footer {
	margin-top: 0
}

.content-500 #footer .footer-copy,.content-600 #footer .footer-copy,.content-700 #footer .footer-copy {
	float: none
}

.content-500 #footer #footer-links,.content-600 #footer #footer-links,.content-700 #footer #footer-links {
	text-align: center
}

.content-500 #footer #footer-links li,.content-600 #footer #footer-links li,.content-700 #footer #footer-links li {
	float: none;
	display: inline;
	border: none
}

.content-500 #footer #footer-end .pixel-union,.content-600 #footer #footer-end .pixel-union,.content-700 #footer #footer-end .pixel-union {
	border: none;
	display: block;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	float: none
}

.content-500 #footer .copyright,.content-600 #footer .copyright,.content-700 #footer .copyright {
	text-align: center
}

.content-500 #back-to-top,.content-600 #back-to-top,.content-700 #back-to-top {
	display: none
}

}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (     -o-min-device-pixel-ratio: 2/1), only screen and (        min-device-pixel-ratio: 2), only screen and (                min-resolution: 192dpi), only screen and (                min-resolution: 2dppx) {

.menu .icon,ol.notes li:after,#footer-end .pixel-union .logo:after,.meta .icon,#notes-toggle .icon,#search-form:before,article .share .toggle,.type-audio .player-container .album-art,.type-link .post-title a .icon {
	background-image: url("http://static.tumblr.com/hugxd2w/t9Xma9g4e/effector-sprite-2x.png");
	background-repeat: no-repeat;
	background-size: 300px auto
}

.type-audio .album-case,.type-audio .player-btn,.type-audio .track-info:before,.type-audio .download {
	background-image: url("http://static.tumblr.com/hugxd2w/6Bdma9g4y/audioplayer-2x.png");
	background-repeat: no-repeat;
	background-size: 165px auto
}

.type-audio .audio-meta {
	background-image: url("http://static.tumblr.com/hugxd2w/Atvma9g4o/wave-form-2x.png");
	background-size: 215px auto;
	background-repeat: no-repeat
}

.share .widget .share-links a {
	background-image: url("http://static.tumblr.com/hugxd2w/Hdhma9g8x/sharebox-sprite-2x.png");
	background-repeat: no-repeat;
	background-size: 272px auto
}

.lg-icons #socialize a,#socialize a {
	background: url("http://static.tumblr.com/hugxd2w/021ma0bau/social-icons-black-2x.png") left top no-repeat;
	background-size: 1275px auto;
	opacity: 0.8;
	filter: alpha(opacity=80);
	width: 51px;
	height: 51px
}

.lg-icons #socialize a:hover,#socialize a:hover {
	opacity: 1;
	filter: alpha(opacity=100)
}

.lg-icons.invert #socialize a,.invert #socialize a {
	background: url("http://static.tumblr.com/hugxd2w/LPIma0baj/social-icons-white-2x.png");
	background-size: 1275px auto;
	opacity: 1;
	filter: alpha(opacity=100);
	width: 51px;
	height: 51px
}

.invert #socialize .dribbble a,.lg-icons #socialize .dribbble a,#socialize .dribbble a {
	background-position: 0px 0
}

.invert #socialize .twitter a,.lg-icons #socialize .twitter a,#socialize .twitter a {
	background-position: -51px 0
}

.invert #socialize .facebook a,.lg-icons #socialize .facebook a,#socialize .facebook a {
	background-position: -102px 0
}

.invert #socialize .vimeo a,.lg-icons #socialize .vimeo a,#socialize .vimeo a {
	background-position: -153px 0
}

.invert #socialize .flickr a,.lg-icons #socialize .flickr a,#socialize .flickr a {
	background-position: -204px 0
}

.invert #socialize .digg a,.lg-icons #socialize .digg a,#socialize .digg a {
	background-position: -255px 0
}

.invert #socialize .delicious a,.lg-icons #socialize .delicious a,#socialize .delicious a {
	background-position: -306px 0
}

.invert #socialize .lastfm a,.lg-icons #socialize .lastfm a,#socialize .lastfm a {
	background-position: -357px 0
}

.invert #socialize .linkedin a,.lg-icons #socialize .linkedin a,#socialize .linkedin a {
	background-position: -408px 0
}

.invert #socialize .youtube a,.lg-icons #socialize .youtube a,#socialize .youtube a {
	background-position: -459px 0
}

.invert #socialize .google a,.lg-icons #socialize .google a,#socialize .google a {
	background-position: -510px 0
}

.invert #socialize .cargo a,.lg-icons #socialize .cargo a,#socialize .cargo a {
	background-position: -561px 0
}

.invert #socialize .myspace a,.lg-icons #socialize .myspace a,#socialize .myspace a {
	background-position: -612px 0
}

.invert #socialize .skype a,.lg-icons #socialize .skype a,#socialize .skype a {
	background-position: -663px 0
}

.invert #socialize .ffffound a,.lg-icons #socialize .ffffound a,#socialize .ffffound a {
	background-position: -714px 0
}

.invert #socialize .soundcloud a,.lg-icons #socialize .soundcloud a,#socialize .soundcloud a {
	background-position: -765px 0
}

.invert #socialize .behance a,.lg-icons #socialize .behance a,#socialize .behance a {
	background-position: -816px 0
}

.invert #socialize .forrst a,.lg-icons #socialize .forrst a,#socialize .forrst a {
	background-position: -867px 0
}

.invert #socialize .foursquare a,.lg-icons #socialize .foursquare a,#socialize .foursquare a {
	background-position: -918px 0
}

.invert #socialize .xbox a,.lg-icons #socialize .xbox a,#socialize .xbox a {
	background-position: -969px 0
}

.invert #socialize .pinterest a,.lg-icons #socialize .pinterest a,#socialize .pinterest a {
	background-position: -1020px 0
}

.invert #socialize .grooveshark a,.lg-icons #socialize .grooveshark a,#socialize .grooveshark a {
	background-position: -1071px 0
}

.invert #socialize .rdio a,.lg-icons #socialize .rdio a,#socialize .rdio a {
	background-position: -1122px 0
}

.invert #socialize .github a,.lg-icons #socialize .github a,#socialize .github a {
	background-position: -1173px 0
}

.invert #socialize .pinboard a,.lg-icons #socialize .pinboard a,#socialize .pinboard a {
	background-position: -1224px 0
}

#group-members li a,#followed li a {
	width: 50px;
	height: 50px
}

#group-members li a img,#followed li a img {
	width: 100%
}

#group-members li span,#followed li span {
	bottom: 50px
}

}