@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?65446652');
  src: url('../font/fontello.eot?65446652#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?65446652') format('woff'),
       url('../font/fontello.ttf?65446652') format('truetype'),
       url('../font/fontello.svg?65446652#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?65446652#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-lastfm:before { content: '\61'; } /* 'a' */
.icon-dribbble:before { content: '\62'; } /* 'b' */
.icon-delicious:before { content: '\64'; } /* 'd' */
.icon-email:before { content: '\65'; } /* 'e' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-github:before { content: '\67'; } /* 'g' */
.icon-instagram:before { content: '\69'; } /* 'i' */
.icon-m:before { content: '\6d'; } /* 'm' */
.icon-linkedin:before { content: '\6e'; } /* 'n' */
.icon-phone:before { content: '\70'; } /* 'p' */
.icon-soundcloud:before { content: '\73'; } /* 's' */
.icon-twitter:before { content: '\74'; } /* 't' */