
.icon-lastfm:before { content: '\61'; } /* 'a' */
.icon-dribbble:before { content: '\62'; } /* 'b' */
.icon-delicious:before { content: '\64'; } /* 'd' */
.icon-email:before { content: '\65'; } /* 'e' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-github:before { content: '\67'; } /* 'g' */
.icon-instagram:before { content: '\69'; } /* 'i' */
.icon-m:before { content: '\6d'; } /* 'm' */
.icon-linkedin:before { content: '\6e'; } /* 'n' */
.icon-phone:before { content: '\70'; } /* 'p' */
.icon-soundcloud:before { content: '\73'; } /* 's' */
.icon-twitter:before { content: '\74'; } /* 't' */